﻿<div class="card-header bg-light justify-content-between row mr-0 ml-0">
    <div class="d-inline" style="font-size: 21px">
        <span class="align-middle"><i class="far fa-address-card mt-auto mb-auto"></i><p class="ml-2 d-inline">Client : </p> @Model.Name</span>
    </div>

    <div class="d-inline-block justify-content-end">
        @if (User.IsInRole(ASP_NET_CRM.Constants.Roles.RoleConstants.EmployeeRole))
        {
            <a class="btn btn-warning" href="@Url.Action("EditView", "Client", new { id = Model.Id })"><i class="far fa-edit"></i> Edit</a>
        }
        @if (User.IsInRole(ASP_NET_CRM.Constants.Roles.RoleConstants.AdministratorRole))
        {
            <button type="button" class="btn btn-danger deleteModal" data-toggle="modal" data-target="#deleteModal"><i class="fas fa-times mr-1"></i>Delete</button>
        }
    </div>
</div>
