﻿<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Client</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>Do you want to delete the client?</div>
                <div class="mt-1"><span class="font-weight-bold">All objects for client will be deleted.</span></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <form id="deleteClientAsync">
                    <input id="deleteClientId" name="Id" style="display: none" />
                    <button type="submit" class="btn btn-danger"><i class="fas fa-times"></i> Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>
