﻿@using ASP_NET_CRM.ViewModels.Clients
@using ASP_NET_CRM.Utilities
@using ASP_NET_CRM.Constants.Roles

@model BusinessClientDetailsViewModel
@{
    ViewBag.Title = "BusinessClientDetailsView";
}

<div id="alerts">
    @if (TempData["Success"] != null)
    {
        @Html.Partial("_GlobalSuccessMessagePartial")
    }
</div>

<div class="row">
    @Html.Partial("_ClientSideMenu")

    <div class="col container containerMargin" id="container">
        <div class="card">
            @Html.Partial("_ClientDetailsCardHeaderPartial")
            <div class="cardPadding">
                <div class="row justify-content-between">
                    <div class="form-group col-3">
                        @Html.LabelFor(c => c.ClientType)
                        @Html.TextBoxFor(c => c.ClientType, new { @class = "form-control", @Value = @EnumUtilities.ShowEnumDisplayAttribute(Model.ClientType) })
                    </div>
                    <div class="form-group col-3">
                        @Html.LabelFor(c => c.Created)
                        @Html.TextBoxFor(c => c.Created, new { @class = "form-control" })
                    </div>
                </div>
                <div class="row justify-content-between">
                    <div class="form-group col-5">
                        @Html.LabelFor(c => c.Name)
                        @Html.TextBoxFor(c => c.Name, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-3">
                        @Html.LabelFor(c => c.CreatedBy)
                        @Html.TextBoxFor(c => c.CreatedBy, new { @class = "form-control" })
                    </div>
                </div>
                <div class="row justify-content-between">
                    <div class="form-group col-2">
                        @Html.LabelFor(c => c.NIP)
                        @Html.TextBoxFor(c => c.NIP, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-3">
                        @Html.LabelFor(c => c.LastUpdated)
                        @Html.TextBoxFor(c => c.LastUpdated, new { @class = "form-control" })
                    </div>
                </div>
                <div class="row justify-content-between">
                    <div class="form-group col-8">
                        @Html.LabelFor(m => m.MainAddressFullName)
                        @Html.TextBoxFor(m => m.MainAddressFullName, new { @class = "form-control", @style = "min-width: 580px" })
                    </div>
                    <div class="form-group col-3">
                        @Html.LabelFor(c => c.LastUpdatedBy)
                        @Html.TextBoxFor(c => c.LastUpdatedBy, new { @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-3">
                        @Html.LabelFor(m => m.MainAddressPostalCode)
                        @Html.TextBoxFor(m => m.MainAddressPostalCode, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-4">
                        @Html.LabelFor(m => m.MainAddressCity)
                        @Html.TextBoxFor(m => m.MainAddressCity, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-4">
                        @Html.LabelFor(m => m.MainAddressState)
                        @Html.TextBoxFor(m => m.MainAddressState, new { @class = "form-control", @Value = @EnumUtilities.ShowEnumDisplayAttribute(Model.MainAddressState) })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-2">
                        @Html.LabelFor(c => c.Regon)
                        @Html.TextBoxFor(c => c.Regon, new { @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-2">
                        @Html.LabelFor(c => c.KRS)
                        @Html.TextBoxFor(c => c.KRS, new { @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-3">
                        @Html.LabelFor(c => c.PhoneNumber)
                        @Html.TextBoxFor(c => c.PhoneNumber, new { @class = "form-control individualClient" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-5">
                        @Html.LabelFor(c => c.Email)
                        @Html.TextBoxFor(c => c.Email, new { @class = "form-control individualClient" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-6">
                        @Html.LabelFor(c => c.WebSite)
                        @Html.TextBoxFor(c => c.WebSite, new { @class = "form-control individualClient" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@if (User.IsInRole(RoleConstants.AdministratorRole))
{
    @Html.Partial("_ClientDeleteModalPartialView")
}

@section scripts
{
    @Scripts.Render("~/Messages")
    @Scripts.Render("~/Readonly")
}

