﻿@using ASP_NET_CRM.ViewModels.Clients;
@using ASP_NET_CRM.Utilities;

@model BusinessClientEditViewModel
@{
    ViewBag.Title = "BusinessClientEditView";
}

@using (Html.BeginForm("Update", "Client", FormMethod.Post, new { id = "individualClientUpdateForm" }))
{
    <div class="row">
        @Html.Partial("_ClientSideMenu")

        <div class="col container mt-3" id="container">
            <div class="card">
                @Html.Partial("_ClientEditCardHeaderPartial")
                <div class="cardPadding">

                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-danger pb-0" role="alert">
                            @Html.ValidationSummary()
                        </div>
                    }

                    <div class="row">
                        <div class="form-group col-3">
                            @Html.LabelFor(c => c.ClientType)
                            <input type="text" value="@EnumUtilities.ShowEnumDisplayAttribute(Model.ClientType)" readonly class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-5">
                            @Html.LabelFor(c => c.Name)
                            @Html.TextBoxFor(c => c.Name, new { @class = "form-control", style = "max-width: 600px" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-2">
                            @Html.LabelFor(c => c.NIP)
                            @Html.TextBoxFor(c => c.NIP, new { @class = "form-control", style = "max-width: 400px" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-2">
                            @Html.LabelFor(c => c.Regon)
                            @Html.TextBoxFor(c => c.Regon, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-2">
                            @Html.LabelFor(c => c.KRS)
                            @Html.TextBoxFor(c => c.KRS, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-3">
                            @Html.LabelFor(c => c.PhoneNumber)
                            @Html.TextBoxFor(c => c.PhoneNumber, new { @class = "form-control individualClient" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-5">
                            @Html.LabelFor(c => c.Email)
                            @Html.TextBoxFor(c => c.Email, new { @class = "form-control individualClient" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-6">
                            @Html.LabelFor(c => c.WebSite)
                            @Html.TextBoxFor(c => c.WebSite, new { @class = "form-control individualClient" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Html.HiddenFor(c => c.Id)
    @Html.HiddenFor(c => c.ClientType)
    @Html.AntiForgeryToken();
}

