﻿@using ASP_NET_CRM.ViewModels.Clients
@using ASP_NET_CRM.Utilities
@using ASP_NET_CRM.Constants.Roles

@model IndividualClientDetailsViewModel
@{
    ViewBag.Title = "IndividualClientDetailsView";
}

<div id="alerts">
    @if (TempData["Success"] != null)
    {
        @Html.Partial("_GlobalSuccessMessagePartial")
    }
</div>


<div class="row">
    @Html.Partial("_ClientSideMenu")

    <div class="col container containerMargin" id="container">
        <div class="card">
            @Html.Partial("_ClientDetailsCardHeaderPartial")

            <div class="cardPadding">
                <div class="row justify-content-between">
                    <div class="form-group col-3">
                        @Html.LabelFor(c => c.ClientType)
                        @Html.TextBoxFor(c => c.ClientType, new { @class = "form-control", @Value = @EnumUtilities.ShowEnumDisplayAttribute(Model.ClientType) })
                    </div>
                    <div class="form-group col-3">
                        @Html.LabelFor(c => c.Created)
                        @Html.TextBoxFor(c => c.Created, new { @class = "form-control" })
                    </div>
                </div>
                <div class="row justify-content-between">
                    <div class="form-group col-5">
                        @Html.LabelFor(c => c.Name)
                        @Html.TextBoxFor(c => c.Name, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-3">
                        @Html.LabelFor(c => c.CreatedBy)
                        @Html.TextBoxFor(c => c.CreatedBy, new { @class = "form-control" })
                    </div>
                </div>
                <div class="row justify-content-between">
                    <div class="col-8 d-inline-flex">
                        <div class="form-group col-5 pl-0">
                            @Html.LabelFor(c => c.FirstName)
                            @Html.TextBoxFor(c => c.FirstName, new { @class = "form-control" })
                        </div>
                        <div class="form-group col-7">
                            @Html.LabelFor(c => c.Surname)
                            @Html.TextBoxFor(c => c.Surname, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group col-13">
                            @Html.LabelFor(c => c.LastUpdated)
                            @Html.TextBoxFor(c => c.LastUpdated, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="row justify-content-between">
                    <div class="form-group col-2">
                        @Html.LabelFor(c => c.Pesel)
                        @Html.TextBoxFor(c => c.Pesel, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-3">
                        @Html.LabelFor(c => c.LastUpdatedBy)
                        @Html.TextBoxFor(c => c.LastUpdatedBy, new { @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-8">
                        @Html.LabelFor(m => m.MainAddressFullName)
                        @Html.TextBoxFor(m => m.MainAddressFullName, new { @class = "form-control", @style = "min-width: 580px" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-3">
                        @Html.LabelFor(m => m.MainAddressPostalCode)
                        @Html.TextBoxFor(m => m.MainAddressPostalCode, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-4">
                        @Html.LabelFor(m => m.MainAddressCity)
                        @Html.TextBoxFor(m => m.MainAddressCity, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-4">
                        @Html.LabelFor(m => m.MainAddressState)
                        @Html.TextBoxFor(m => m.MainAddressState, new { @class = "form-control", @Value = @EnumUtilities.ShowEnumDisplayAttribute(Model.MainAddressState) })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-3">
                        @Html.LabelFor(m => m.PhoneNumber)
                        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-5">
                        @Html.LabelFor(m => m.Email)
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-3">
                        @Html.LabelFor(m => m.DocumentType)
                        @Html.TextBoxFor(m => m.DocumentType, new { @class = "form-control", @Value = @EnumUtilities.ShowEnumDisplayAttribute(Model.DocumentType) })
                    </div>
                    <div class="form-group col-3">
                        @Html.LabelFor(m => m.DocumentNumber)
                        @Html.TextBoxFor(m => m.DocumentNumber, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-2">
                        @Html.LabelFor(m => m.DocumentIssueDate)
                        @Html.TextBoxFor(m => m.DocumentIssueDate, "{0:dd/MM/yyyy}", new { @class = "form-control" })
                    </div>
                    <div class="form-group col-4">
                        @Html.LabelFor(c => c.DocumentIssuedBy)
                        @Html.TextBoxFor(c => c.DocumentIssuedBy, new { @class = "form-control individualClient" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@if (User.IsInRole(RoleConstants.AdministratorRole))
{
    @Html.Partial("_ClientDeleteModalPartialView")
}

@section scripts
{
    @Scripts.Render("~/Messages")
    @Scripts.Render("~/Readonly")
}

