﻿@using ASP_NET_CRM.ViewModels.Clients;
@using ASP_NET_CRM.Utilities;

@model IndividualClientEditViewModel
@{
    ViewBag.Title = "IndividualClientEditView";
}

@using (Html.BeginForm("Update", "Client", FormMethod.Post, new { id = "individualClientUpdateForm" }))
{
    <div class="row">
        @Html.Partial("_ClientSideMenu")

        <div class="col container mt-3" id="container">
            <div class="card">
                @Html.Partial("_ClientEditCardHeaderPartial")
                <div class="cardPadding">

                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-danger pb-0" role="alert">
                            @Html.ValidationSummary()
                        </div>
                    }

                    <div class="row">
                        <div class="form-group col-3">
                            @Html.LabelFor(c => c.ClientType)
                            <input type="text" value="@EnumUtilities.ShowEnumDisplayAttribute(Model.ClientType)" readonly class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-5">
                            @Html.LabelFor(c => c.Name)
                            @Html.TextBoxFor(c => c.Name, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-3">
                            @Html.LabelFor(c => c.FirstName)
                            @Html.TextBoxFor(c => c.FirstName, new { @class = "form-control" })
                        </div>
                        <div class="form-group col-4">
                            @Html.LabelFor(c => c.Surname)
                            @Html.TextBoxFor(c => c.Surname, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-2">
                            @Html.LabelFor(c => c.Pesel)
                            @Html.TextBoxFor(c => c.Pesel, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-3">
                            @Html.LabelFor(m => m.PhoneNumber)
                            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-5">
                            @Html.LabelFor(m => m.Email)
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-3">
                            @Html.LabelFor(m => m.DocumentType)
                            @Html.EnumDropDownListFor(m => m.DocumentType, new { @class = "form-control" })
                        </div>
                        <div class="form-group col-3">
                            @Html.LabelFor(m => m.DocumentNumber)
                            @Html.TextBoxFor(m => m.DocumentNumber, new { @class = "form-control" })
                        </div>
                        <div class="form-group col-2">
                            @Html.LabelFor(m => m.DocumentIssueDate)
                            @Html.TextBoxFor(m => m.DocumentIssueDate, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker", @placeholder = "DD/MM/YYYY" })
                        </div>
                        <div class="form-group col-4">
                            @Html.LabelFor(c => c.DocumentIssuedBy)
                            @Html.TextBoxFor(c => c.DocumentIssuedBy, new { @class = "form-control individualClient" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Html.HiddenFor(c => c.Id)
    @Html.HiddenFor(c => c.ClientType)
    @Html.AntiForgeryToken();
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/Views/Client/IndividualClientEditView")
}
