﻿@using ASP_NET_CRM.ViewModels.Clients;
@using ASP_NET_CRM.Constants;

@model NewClientViewModel
@{
    ViewBag.Title = "NewView";
    var token = Html.AntiForgeryToken();
}

<div class="container containerMargin">

    <div class="card mt-3">
        <div class="card-header bg-light justify-content-between row mr-0 ml-0">
            <div class="d-inline" style="font-size: 21px">
                <span class="align-middle"><i class="far fa-address-card"></i><p class="ml-2 d-inline">New Client</p></span>
            </div>
        </div>

        <div class="cardPadding">

            @if (!ViewData.ModelState.IsValid)
            {
                <div class="alert alert-danger pb-0" role="alert">
                    @Html.ValidationSummary()
                </div>
            }

            <div class="row">
                <div class="form-group col-3">
                    <label for="ClientType">Client Type</label>
                    @Html.EnumDropDownListFor(ct => ct.ClientTypeChoice, "Select Client Type", new { id = "clientTypeChoice", @class = "form-control", @style = "max-width:280px" })
                </div>
            </div>


            @using (Html.BeginForm("Add", "Client", FormMethod.Post, new { id = "individualClient", @class = "mt-2" }))
            {
                <div class="row">
                    <div class="form-group col-3">
                        @Html.LabelFor(c => c.FirstName)
                        @Html.TextBoxFor(c => c.FirstName, new { @class = "form-control individualClient" })
                    </div>
                    <div class="form-group col-4">
                        @Html.LabelFor(c => c.Surname)
                        @Html.TextBoxFor(c => c.Surname, new { @class = "form-control individualClient" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-2">
                        @Html.LabelFor(c => c.Pesel)
                        @Html.TextBoxFor(c => c.Pesel, new { @class = "form-control individualClient" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-3">
                        @Html.LabelFor(c => c.PhoneNumber)
                        @Html.TextBoxFor(c => c.PhoneNumber, new { @class = "form-control individualClient" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-5">
                        @Html.LabelFor(c => c.Email)
                        @Html.TextBoxFor(c => c.Email, new { @class = "form-control individualClient" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-3">
                        @Html.LabelFor(c => c.DocumentType)
                        @Html.EnumDropDownListFor(c => c.DocumentType, new { @class = "form-control individualClient" })
                    </div>
                    <div class="form-group col-3">
                        @Html.LabelFor(c => c.DocumentNumber)
                        @Html.TextBoxFor(c => c.DocumentNumber, new { @class = "form-control individualClient" })
                    </div>
                    <div class="form-group col-2">
                        @Html.LabelFor(c => c.DocumentIssueDate)
                        @Html.TextBoxFor(c => c.DocumentIssueDate, "{0:dd/MM/yyyy}", new { @class = "form-control individualClient datepicker", @placeholder = "DD/MM/YYYY" })
                    </div>
                    <div class="form-group col-4">
                        @Html.LabelFor(c => c.DocumentIssuedBy)
                        @Html.TextBoxFor(c => c.DocumentIssuedBy, new { @class = "form-control individualClient" })
                    </div>
                </div>

                @Html.HiddenFor(c => c.ClientType, new { id = "IndividualClient_ClientType" })
                @Html.HiddenFor(c => c.Name, new { id = "IndividualClient_Name" })
                @Html.AntiForgeryToken()

                <button type="submit" class="btn btn-success">Save</button>
            }

            @using (Html.BeginForm("Add", "Client", FormMethod.Post, new { id = "businessClient", @class = "mt-2" }))
            {
                <div class="row">
                    <div class="form-group col-5">
                        @Html.LabelFor(c => c.Name)
                        @Html.TextBoxFor(c => c.Name, new { @class = "form-control", id = "BusinessClient_Name" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-2">
                        @Html.LabelFor(c => c.NIP)
                        @Html.TextBoxFor(c => c.NIP, new { @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-2">
                        @Html.LabelFor(c => c.Regon)
                        @Html.TextBoxFor(c => c.Regon, new { @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-2">
                        @Html.LabelFor(c => c.KRS)
                        @Html.TextBoxFor(c => c.KRS, new { @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-3">
                        @Html.LabelFor(c => c.PhoneNumber)
                        @Html.TextBoxFor(c => c.PhoneNumber, new { @class = "form-control individualClient" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-5">
                        @Html.LabelFor(c => c.Email)
                        @Html.TextBoxFor(c => c.Email, new { @class = "form-control individualClient" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-6">
                        @Html.LabelFor(c => c.WebSite)
                        @Html.TextBoxFor(c => c.WebSite, new { @class = "form-control individualClient" })
                    </div>
                </div>

                @Html.HiddenFor(c => c.ClientType, new { id = "BusinessClient_ClientType" })
                @Html.AntiForgeryToken()

                <button type="submit" class="btn btn-success">Save</button>
            }
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/Views/Client/NewView")
}


