﻿<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Address</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>Do you want to delete the address?</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                @using (Html.BeginForm("Delete", "Address", FormMethod.Post))
                {
                    <input name="Id" value="@Model.Id" hidden />
                    <button type="submit" class="btn btn-danger"><i class="fas fa-times"></i> Delete</button>

                    @Html.AntiForgeryToken()
                }
            </div>
        </div>
    </div>
</div>


