﻿@using ASP_NET_CRM.ViewModels.Addresses
@using ASP_NET_CRM.Utilities;
@using ASP_NET_CRM.Enums

@model AddressEditViewModel
@{
    ViewBag.Title = "EditView";
}

@using (Html.BeginForm("Update", "Address", FormMethod.Post, new { @class = "mt-2", @id = "editAddressForm" }))
{

    <div class="container mt-3" id="container">
        <div class="card mt-3">
            <div class="card-header bg-light justify-content-between row mr-0 ml-0">
                <div class="d-inline" style="font-size: 21px">
                    <span class="align-middle"><i class="fas fa-map-marker-alt"></i><p class="ml-2 d-inline">Address : @Model.Id</p></span>
                </div>
                <div class="d-inline-block justify-content-end">
                    <button type="submit" class="btn btn-success"><i class="far fa-save"></i> Save</button>
                </div>
            </div>
            <div class="cardPadding">

                @if (!ViewData.ModelState.IsValid)
                {
                    <div class="alert alert-danger pb-0" role="alert">
                        @Html.ValidationSummary()
                    </div>
                }

                <div class="row">
                    <div class="form-group col-5 pr-0">
                        @Html.LabelFor(m => m.ClientName)
                        @Html.TextBoxFor(m => m.ClientName, new { @class = "form-control d-inline readonly" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-4">
                        @Html.LabelFor(m => m.Type)
                        @Html.TextBoxFor(m => m.Type, new { @class = "form-control readonly", @Value = @EnumUtilities.ShowEnumDisplayAttribute(Model.Type) })
                    </div>
                    <div class="form-group col-8">
                        @Html.LabelFor(m => m.FullAddressName)
                        @Html.TextBoxFor(m => m.FullAddressName, new { @class = "form-control readonly", @style = "min-width: 580px", @Value = Model.FullAddressName })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-2" style="max-width: 120px">
                        @Html.LabelFor(m => m.PrefixId)
                        @Html.DropDownList("PrefixId", Model.AvailablePrefixes, "Select Prefix", new { @class = "form-control" })
                    </div>
                    <div class="form-group col-6">
                        @Html.LabelFor(m => m.StreetName)
                        @Html.TextBoxFor(m => m.StreetName, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-2" style="max-width: 140px">
                        @Html.LabelFor(m => m.HouseNumber)
                        @Html.TextBoxFor(m => m.HouseNumber, new { @class = "form-control", @style = "max-width: 100px" })
                    </div>
                    <div class="form-group col-2">
                        @Html.LabelFor(m => m.ApartmentNumber)
                        @Html.TextBoxFor(m => m.ApartmentNumber, new { @class = "form-control", @style = "max-width: 100px" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-2">
                        @Html.LabelFor(m => m.PostalCode)
                        @Html.TextBoxFor(m => m.PostalCode, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-4">
                        @Html.LabelFor(m => m.City)
                        @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-4">
                        @Html.LabelFor(m => m.State)
                        @Html.EnumDropDownListFor(m => m.State, new { @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-12">
                        @Html.LabelFor(m => m.Description)
                        @Html.TextAreaFor(m => m.Description, new { @class = "form-control", @style = "min-height: 7rem" })
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.PrefixValue)
    @Html.AntiForgeryToken()
}

@section scripts
{
    @Scripts.Render("~/ReadonlyClass")
    @Scripts.Render("~/Views/Address/EditView")
}