﻿@using ASP_NET_CRM.ViewModels.Addresses
@using ASP_NET_CRM.DTO.Address
@using ASP_NET_CRM.Enums
@using ASP_NET_CRM.Utilities
@using ASP_NET_CRM.Constants.Roles

@model AddressesClientDetailsViewModel
@{
    ViewBag.Title = "GetAddressesForClientView";
}

<div id="alerts"></div>

<div class="row">
    @Html.Partial("_ClientSideMenu")

    <div class="col container mt-3 mb-3" id="container">
        <div class="card">
            <div class="card-header bg-light justify-content-between row mr-0 ml-0">
                <div class="d-inline iconFontSize">
                    <span class="align-middle"><i class="far fa-address-card mt-auto mb-auto"></i> @Model.Name</span>
                </div>
            </div>
            <div class="pl-4 pt-3 pr-4">
                <div class="row justify-content-between">
                    <div class="col-3">
                        @if (User.IsInRole(RoleConstants.EmployeeRole))
                        {
                            <a class="btn btn-success" href="@Url.Action("New/Client", "Address", new { id = Model.Id })"><i class="fas fa-plus"></i> New Address</a>
                        }
                    </div>
                </div>
                <table class="table table-bordered mt-3" id="addressTable">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Type</th>
                            <th scope="col">Full Address Name</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (AddressLightweightDto address in Model.Addresses)
                        {
                            <tr id="address_@address.Id">
                                <td class="align-middle">@Html.TextBoxFor(m => address.Id, new { Id = "AddressId_" + address.Id, @class = "customInput" })</td>
                                <td class="align-middle">@EnumUtilities.ShowEnumDisplayAttribute(address.Type)</td>
                                <td class="align-middle">@Html.TextBoxFor(m => address.FullAddressName, new { Id = "AddressFullAddressName_" + address.Id, @class = "customInput customInputTooltip" })</td>
                                <td class="text-center">
                                    <a class="btn btn-success" href="@Url.Action("DetailsView", "Address", new { id = address.Id })"><i class="fas fa-search"></i> Details</a>
                                    @if (User.IsInRole(RoleConstants.EmployeeRole))
                                    {
                                        <a class="btn btn-warning" href="@Url.Action("EditView", "Address", new { id = address.Id })"><i class="far fa-edit"></i> Edit</a>
                                    }
                                    @if (User.IsInRole(RoleConstants.AdministratorRole))
                                    {
                                        <button type="button" class="btn btn-danger deleteModal" data-id="@address.Id" data-toggle="modal" data-target="#deleteModal"><i class="fas fa-times mr-1"></i>Delete</button>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                <div id="tableMessages" class="mb-3">
                    @if (Model.Addresses.Count() == 0)
                    {
                        @Html.Partial("_GlobalNoDataToDisplayPartial");
                    }
                </div>

                <div class="row justify-content-end">
                    <div class="col-6 d-flex justify-content-end">
                        <ul class="pagination">
                            @if (Model.Pagination.CurrentPage > 1)
                            {
                                <li class="page-item">
                                    @Html.ActionLink("Previous", "GetAddressesForClientView", "Address", new { clientId = Model.Id, currentPage = Model.Pagination.CurrentPage - 1 }, new { @class = "page-link" })
                                </li>
                            }
                            @for (var index = Model.Pagination.StartPage; index <= Model.Pagination.EndPage; index++)
                            {
                                if (Model.Pagination.CurrentPage == index)
                                {
                                    <li class="page-item active">@Html.ActionLink(index.ToString(), "GetAddressesForClientView", "Address", new { clientId = Model.Id, currentPage = index }, new { @class = "page-link" })</li>
                                }
                                else
                                {
                                    <li class="page-item">@Html.ActionLink(index.ToString(), "GetAddressesForClientView", "Address", new { clientId = Model.Id, currentPage = index }, new { @class = "page-link" })</li>
                                }
                            }
                            @if (Model.Pagination.CurrentPage < Model.Pagination.EndPage)
                            {
                                <li class="page-item">@Html.ActionLink("Next", "GetAddressesForClientView", "Address", new { clientId = Model.Id, currentPage = Model.Pagination.CurrentPage + 1 }, new { @class = "page-link" })</li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@if (User.IsInRole(RoleConstants.AdministratorRole))
{
    @Html.Partial("_AddressDeleteAsyncModalPartialView")
}

@section scripts
{
    @Scripts.Render("~/Address/DeleteAddress")
    @Scripts.Render("~/Messages")
    @Scripts.Render("~/Tooltip")
}
