﻿@using ASP_NET_CRM.ViewModels.Addresses
@using ASP_NET_CRM.DTO.Address
@using ASP_NET_CRM.Utilities
@using ASP_NET_CRM.Constants.Roles

@model AddressIndexViewModel
@{
    ViewBag.Title = "IndexView";
}

<div id="alerts">
    @if (TempData["Success"] != null)
    {
        @Html.Partial("_GlobalSuccessMessagePartial")
    }
    @if (TempData["Error"] != null)
    {
        @Html.Partial("_GlobalErrorMessagePartial")
    }
</div>

<div class="container mt-3">
    <div class="card containerMargin">
        <div class="card-header bg-light justify-content-center row mr-0 ml-0">
            <h2>Addresses</h2>
        </div>
        <div class="cardPadding">
            <div class="container">
                <div class="row justify-content-between align-items-end">
                    <div class="card w-100">
                        <span class="card-header text-center">Search By</span>
                        <div class="card-body">
                            @using (Html.BeginForm("IndexView", "Address", FormMethod.Get, new { @class = "form-inline" }))
                            {
                                @Html.TextBoxFor(m => m.AddressSearch.SearchId, new { Name = "SearchId", placeholder = "Id", @class = "form-control col-1", })
                                @Html.TextBoxFor(m => m.AddressSearch.SearchStreetName, new { Name = "SearchStreetName", placeholder = "Street", @class = "form-control ml-2 col-3" })
                                @Html.TextBoxFor(m => m.AddressSearch.SearchHouseNumber, new { Name = "SearchHouseNumber", placeholder = "House Nr", @class = "form-control ml-2", @style = "width: 100px" })
                                @Html.TextBoxFor(m => m.AddressSearch.SearchApartmentNumber, new { Name = "SearchApartmentNumber", placeholder = "Apartment Nr", @class = "form-control ml-2", @style = "width: 130px" })
                                @Html.TextBoxFor(m => m.AddressSearch.SearchCity, new { Name = "SearchCity", placeholder = "City", @class = "form-control ml-2", @style = "width: 180px" })
                                @Html.TextBoxFor(m => m.AddressSearch.SearchPostalCode, new { Name = "SearchPostalCode", placeholder = "Postal Code", @class = "form-control ml-2", @style = "width: 120px" })
                                @Html.HiddenFor(m => m.AddressSearch.IsSearchBy, new { Name = "IsSearchBy", @Value = true })
                                <button type="submit" class="btn btn-success ml-2"><i class="fas fa-search"></i> Search</button>
                            }
                        </div>
                    </div>
                    <div class="col-2 pl-0 pr-0 mt-3">
                        @if (User.IsInRole(RoleConstants.EmployeeRole))
                        {
                            <a class="btn btn-success" href="@Url.Action("NewAddressView", "Address")"><i class="fas fa-map-marker-alt"></i> New Address</a>
                        }
                    </div>
                </div>
            </div>

            <div class="mt-3">
                <table class="table table-bordered" id="addressTable">
                    <thead>
                        <tr>
                            <th scope="col" style="width: 7%">Id</th>
                            <th scope="col" style="width: 20%">Client Name</th>
                            <th scope="col">Type</th>
                            <th scope="col" style="width: 25%">Full Address Name</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    @if (Model.Addresses.Count() > 0)
                    {
                        <tbody id="tableBody">
                            @foreach (AddressDto address in Model.Addresses)
                            {
                                <tr id="address_@address.Id">
                                    <td class="align-middle">@Html.TextBoxFor(m => address.Id, new { Id = "AddressId_" + address.Id, @class = "customInput" })</td>
                                    <td class="align-middle">@Html.TextBoxFor(m => address.Client.Name, new { Id = "AddressClientName_" + address.Id, @class = "customInput customInputTooltip" })</td>
                                    <td class="align-middle">@EnumUtilities.ShowEnumDisplayAttribute(address.Type)</td>
                                    <td class="align-middle">@Html.TextBoxFor(m => address.FullAddressName, new { Id = "AddressFullAddressName_" + address.Id, @class = "customInput customInputTooltip" })</td>
                                    <td class="text-center">
                                        <a class="btn btn-success" href="@Url.Action("DetailsView", "Address", new { id = address.Id })"><i class="fas fa-search"></i> Details</a>
                                        @if (User.IsInRole(RoleConstants.EmployeeRole))
                                        {
                                            <a class="btn btn-warning" href="@Url.Action("EditView", "Address", new { id = address.Id })"><i class="far fa-edit"></i> Edit</a>
                                        }
                                        @if (User.IsInRole(RoleConstants.AdministratorRole))
                                        {
                                            <button type="button" class="btn btn-danger deleteModal" data-id="@address.Id" data-toggle="modal" data-target="#deleteModal"><i class="fas fa-times mr-1"></i>Delete</button>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    }
                </table>
                <div id="tableMessages" class="mb-3">
                    @if (Model.Addresses.Count() == 0)
                    {
                        @Html.Partial("_GlobalNoDataToDisplayPartial");
                    }
                </div>
                @if (Model.Addresses.Count() > 0)
                {
                    <div class="container">
                        <div class="row justify-content-between">
                            <div class="col-3 pl-0">
                                @using (Html.BeginForm("IndexView", "Address", null, FormMethod.Get, new { @class = "form-inline" }))
                                {
                                    if (Model.AddressSearch.IsSearchBy)
                                    {
                                        @Html.Hidden("searchId", Model.AddressSearch.SearchId);
                                        @Html.Hidden("searchStreetName", Model.AddressSearch.SearchStreetName);
                                        @Html.Hidden("searchHouseNumber", Model.AddressSearch.SearchHouseNumber);
                                        @Html.Hidden("searchApartmentNumber", Model.AddressSearch.SearchApartmentNumber);
                                        @Html.Hidden("searchCity", Model.AddressSearch.SearchCity);
                                        @Html.Hidden("searchPostalCode", Model.AddressSearch.SearchPostalCode);
                                        @Html.Hidden("isSearchBy", Model.AddressSearch.IsSearchBy);
                                    }
                                    @Html.DropDownList("recordsPerPage", new SelectList(Model.RecordsPerPageList), new { @class = "form-control", id = "recordsPerPageList" })
                                    <p class="ml-1">records per page</p>
                                }
                            </div>
                            <div class="col-6 pr-0 d-flex justify-content-end">
                                <ul class="pagination justify-content-end">
                                    @if (Model.AddressSearch.CurrentPage > 1)
                                    {
                                        <li class="page-item">
                                            @if (Model.AddressSearch.IsSearchBy)
                                            {
                                                @Html.ActionLink("Previous", "IndexView", "Address", new
                                                   {
                                                       currentPage = Model.AddressSearch.CurrentPage - 1,
                                                       recordsPerPage = Model.AddressSearch.RecordsPerPage,
                                                       searchId = Model.AddressSearch.SearchId,
                                                       searchStreetName = Model.AddressSearch.SearchStreetName,
                                                       searchHouseNumber = Model.AddressSearch.SearchHouseNumber,
                                                       searchApartmentNumber = Model.AddressSearch.SearchApartmentNumber,
                                                       searchCity = Model.AddressSearch.SearchCity,
                                                       searchPostalCode = Model.AddressSearch.SearchPostalCode,
                                                       isSearchBy = Model.AddressSearch.IsSearchBy
                                                   },
                                                new { @class = "page-link" })
                                            }
                                            else
                                            {
                                                @Html.ActionLink("Previous", "IndexView", "Address", new { currentPage = Model.AddressSearch.CurrentPage - 1, recordsPerPage = Model.AddressSearch.RecordsPerPage }, new { @class = "page-link" })
                                            }
                                        </li>
                                    }
                                    @for (var index = Model.AddressSearch.StartPage; index <= Model.AddressSearch.EndPage; index++)
                                    {
                                        if (Model.AddressSearch.CurrentPage == index)
                                        {
                                            if (Model.AddressSearch.IsSearchBy)
                                            {
                                                <li class="page-item active">
                                                    @Html.ActionLink(index.ToString(), "IndexView", "Address", new
                                                   {
                                                       currentPage = index,
                                                       recordsPerPage = Model.AddressSearch.RecordsPerPage,
                                                       searchId = Model.AddressSearch.SearchId,
                                                       searchStreetName = Model.AddressSearch.SearchStreetName,
                                                       searchHouseNumber = Model.AddressSearch.SearchHouseNumber,
                                                       searchApartmentNumber = Model.AddressSearch.SearchApartmentNumber,
                                                       searchCity = Model.AddressSearch.SearchCity,
                                                       searchPostalCode = Model.AddressSearch.SearchPostalCode,
                                                       isSearchBy = Model.AddressSearch.IsSearchBy
                                                   },
                                                new { @class = "page-link" })
                                                </li>
                                            }
                                            else
                                            {
                                                <li class="page-item active">@Html.ActionLink(index.ToString(), "IndexView", "Address", new { currentPage = index, recordsPerPage = Model.AddressSearch.RecordsPerPage }, new { @class = "page-link" })</li>
                                            }

                                        }
                                        else
                                        {
                                            if (Model.AddressSearch.IsSearchBy)
                                            {
                                                <li class="page-item">
                                                    @Html.ActionLink(index.ToString(), "IndexView", "Address", new
                                                   {
                                                       currentPage = index,
                                                       recordsPerPage = Model.AddressSearch.RecordsPerPage,
                                                       searchId = Model.AddressSearch.SearchId,
                                                       searchStreetName = Model.AddressSearch.SearchStreetName,
                                                       searchHouseNumber = Model.AddressSearch.SearchHouseNumber,
                                                       searchApartmentNumber = Model.AddressSearch.SearchApartmentNumber,
                                                       searchCity = Model.AddressSearch.SearchCity,
                                                       searchPostalCode = Model.AddressSearch.SearchPostalCode,
                                                       isSearchBy = Model.AddressSearch.IsSearchBy
                                                   },
                                                new { @class = "page-link" })
                                                </li>
                                            }
                                            else
                                            {
                                                <li class="page-item">@Html.ActionLink(index.ToString(), "IndexView", "Address", new { currentPage = index, recordsPerPage = Model.AddressSearch.RecordsPerPage }, new { @class = "page-link" })</li>
                                            }
                                        }
                                    }
                                    @if (Model.AddressSearch.CurrentPage < Model.AddressSearch.EndPage)
                                    {
                                        if (Model.AddressSearch.IsSearchBy)
                                        {
                                            <li class="page-item">
                                                @Html.ActionLink("Next", "IndexView", "Address", new
                                               {
                                                   currentPage = Model.AddressSearch.CurrentPage + 1,
                                                   recordsPerPage = Model.AddressSearch.RecordsPerPage,
                                                   searchId = Model.AddressSearch.SearchId,
                                                   searchStreetName = Model.AddressSearch.SearchStreetName,
                                                   searchHouseNumber = Model.AddressSearch.SearchHouseNumber,
                                                   searchApartmentNumber = Model.AddressSearch.SearchApartmentNumber,
                                                   searchCity = Model.AddressSearch.SearchCity,
                                                   searchPostalCode = Model.AddressSearch.SearchPostalCode,
                                                   isSearchBy = Model.AddressSearch.IsSearchBy
                                               },
                                            new { @class = "page-link" })
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="page-item">@Html.ActionLink("Next", "IndexView", "Address", new { currentPage = Model.AddressSearch.CurrentPage + 1, recordsPerPage = Model.AddressSearch.RecordsPerPage }, new { @class = "page-link" })</li>
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@if (User.IsInRole(RoleConstants.AdministratorRole))
{
    @Html.Partial("_AddressDeleteAsyncModalPartialView")
}

@section scripts
{
    @Scripts.Render("~/ClearAlerts")
    @Scripts.Render("~/Shared/RecordsPerPage")
    @Scripts.Render("~/Address/DeleteAddress")
    @Scripts.Render("~/Messages")
    @Scripts.Render("~/Tooltip")
}
