﻿@using ASP_NET_CRM.ViewModels.Addresses

@model NewAddressViewModel
@{
    ViewBag.Title = "NewView";
}

<div class="container mt-3" id="container">
    <div class="card mt-3">
        <div class="card-header bg-light justify-content-between row mr-0 ml-0">
            <div class="d-inline" style="font-size: 21px">
                <span class="align-middle"><i class="fas fa-map-marker-alt"></i><p class="ml-2 d-inline">New Address</p></span>
            </div>
        </div>
        <div class="cardPadding">

            @if (!ViewData.ModelState.IsValid)
            {
                <div class="alert alert-danger pb-0" role="alert">
                    @Html.ValidationSummary()
                </div>
            }

            @using (Html.BeginForm("Add", "Address", FormMethod.Post, new { @class = "mt-2", @id = "newAddressForm" }))
            {
                <div class="row">
                    <div class="form-group col-5">
                        @Html.LabelFor(m => m.ClientName)
                        <input id="ClientName" type="text" value="@Model.ClientName" class="form-control readonly" />
                    </div>

                    @if (Model.IsShowSearchButton)
                    {
                        <div class="col-2 mb-3 d-flex align-items-end pl-0">
                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#searchClientModal"><i class="fas fa-search"></i> Search Client</button>
                        </div>
                    }

                </div>
                <div class="row">
                    <div class="form-group col-4">
                        @Html.LabelFor(m => m.Type)
                        @Html.EnumDropDownListFor(m => m.Type, "Select Type", new { @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-2" style="max-width: 120px">
                        @Html.LabelFor(m => m.PrefixId)
                        @Html.DropDownListFor(m => m.PrefixId, Model.AvailablePrefixes, "Select Prefix", new { @class = "form-control" })
                    </div>
                    <div class="form-group col-6">
                        @Html.LabelFor(m => m.StreetName)
                        @Html.TextBoxFor(m => m.StreetName, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-2" style="max-width: 140px">
                        @Html.LabelFor(m => m.HouseNumber)
                        @Html.TextBoxFor(m => m.HouseNumber, new { @class = "form-control", @style = "max-width: 100px" })
                    </div>
                    <div class="form-group col-2">
                        @Html.LabelFor(m => m.ApartmentNumber)
                        @Html.TextBoxFor(m => m.ApartmentNumber, new { @class = "form-control", @style = "max-width: 100px" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-2">
                        @Html.LabelFor(m => m.PostalCode)
                        @Html.TextBoxFor(m => m.PostalCode, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-4">
                        @Html.LabelFor(m => m.City)
                        @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-4">
                        @Html.LabelFor(m => m.State)
                        @Html.EnumDropDownListFor(m => m.State, "Select State", new { @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-12">
                        @Html.LabelFor(m => m.Description)
                        @Html.TextAreaFor(m => m.Description, new { @class = "form-control", @style = "min-height: 7rem" })
                    </div>
                </div>

                <button type="submit" class="btn btn-success">Save</button>

                @Html.HiddenFor(m => m.ClientId)
                @Html.HiddenFor(m => m.FullAddressName)
                @Html.HiddenFor(m => m.PrefixValue)
                @Html.AntiForgeryToken()
            }
        </div>
    </div>
</div>

@if (Model.IsShowSearchButton)
{
    @Html.Partial("_ClientSearchModalView")
}

@section scripts
{
    @Scripts.Render("~/ReadonlyClass")
    @Scripts.Render("~/Views/Address/NewView")
    @Scripts.Render("~/TooltipSearchClientModal")
    @Scripts.Render("~/Utilities")
    @Scripts.Render("~/Shared/SearchClientModal")
}

