﻿@using ASP_NET_CRM.ViewModels.Consents;
@using ASP_NET_CRM.DTO.Consent;

@model ConsentsClientEditViewModel
@{
    ViewBag.Title = "EditConsentsForClientView";
}

@using (Html.BeginForm("UpdateConsentsForClient", "Consent", FormMethod.Post, new { id = "updateConsentsForClientForm" }))
{
    <div class="row">
        @Html.Partial("_ClientSideMenu")

        <div class="col container mt-3 mb-3" id="container">
            <div class="card">
                <div class="card-header bg-light justify-content-between row mr-0 ml-0">
                    <div class="d-inline iconFontSize">
                        <span class="align-middle"><i class="far fa-address-card mt-auto mb-auto"></i> @Model.Name</span>
                    </div>
                    @if (Model.Consents.Count() != 0)
                    {
                        <div class="d-inline-block justify-content-end">
                            <button type="submit" class="btn btn-success"><i class="far fa-save"></i> Save</button>
                        </div>
                    }
                </div>

                <div class="cardPadding">
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-danger pb-0" role="alert">
                            @Html.ValidationSummary()
                        </div>
                    }
                    @if (Model.Consents.Count() == 0)
                    {
                        <div class="alert alert-warning alert-link text-center" role="alert">
                            No data to display!
                        </div>
                    }
                    else
                    {
                        for (int i = 0; i < Model.Consents.Count; i++)
                        {
                            <div class="row mb-4">
                                <div class="form-check d-flex">
                                    <div class="d-inline align-self-center">
                                        @Html.HiddenFor(c => c.Consents[i].Id)
                                        @Html.HiddenFor(c => c.Consents[i].Name)
                                        @Html.HiddenFor(c => c.Consents[i].FullName)
                                        @Html.CheckBoxFor(c => c.Consents[i].Selected, new { @class = "customCheckbox align-middle", id = "Consents[" + i + "].Selected" })
                                    </div>
                                    <div class="d-inline">
                                        <label class="ml-2 pt-1 align-middle" style="font-size: 19px;"> @Model.Consents[i].FullName</label>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>

    @Html.HiddenFor(c => c.Id)
    @Html.AntiForgeryToken()
}