﻿@using ASP_NET_CRM.ViewModels.Consents
@using ASP_NET_CRM.DTO.Consent
@using ASP_NET_CRM.Constants.Roles

@model ConsentsClientDetailsViewModel
@{
    ViewBag.Title = "GetClientConsentsView";
}

<div id="alerts">
    @if (TempData["Success"] != null)
    {
        @Html.Partial("_GlobalSuccessMessagePartial")
    }
</div>


<div class="row">
    @Html.Partial("_ClientSideMenu")

    <div class="col container mt-3 mb-3" id="container">
        <div class="card">
            <div class="card-header bg-light justify-content-between row mr-0 ml-0">
                <div class="d-inline iconFontSize">
                    <span class="align-middle"><i class="far fa-address-card mt-auto mb-auto"></i> @Model.Name</span>
                </div>
                @if (Model.Consents.Count() != 0)
                {
                    <div class="d-inline-block justify-content-end">
                        @if (User.IsInRole(RoleConstants.EmployeeRole))
                        {
                            <a class="btn btn-warning" href="@Url.Action("Client/Edit", "Consent", new { id = Model.Id })"><i class="far fa-edit"></i> Edit</a>
                        }
                    </div>
                }
            </div>

            <div class="pl-4 pt-4 pb-4 pr-4">
                @if (Model.Consents.Count() == 0)
                {
                    <div class="alert alert-warning alert-link text-center mb-0" role="alert">
                        No data to display!
                    </div>
                }
                else
                {
                    foreach (ConsentDto consent in Model.Consents)
                    {
                        <div class="row mb-4">
                            <div class="form-check d-flex">
                                <div class="d-inline align-self-center">
                                    <input type="checkbox" disabled class="customCheckbox align-middle m-auto" id="consent_@consent.Id" @(Model.ClientConsents.Any(con => con.Id == consent.Id) ? "checked='checked'" : String.Empty) />
                                </div>
                                <div class="d-inline">
                                    <label for="consent_@consent.Id" class="ml-2 pt-1 align-middle" style="font-size: 19px;"> @consent.FullName</label>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/ClearAlerts")
    @Scripts.Render("~/Messages")
}