﻿@using ASP_NET_CRM.ViewModels.Consents

@model NewConsentViewModel
@{
    ViewBag.Title = "NewView";
    Layout = "~/Views/Shared/_AdministratorLayout.cshtml";
}

<div class="container mt-3">

    <button class="btn btn-danger" onclick="goBack()"><i class="fas fa-arrow-left"></i> Back</button>

    <div class="card mt-3">
        <div class="card-header bg-light justify-content-between row mr-0 ml-0">
            <div class="d-inline iconFontSize">
                <span class="align-middle"><i class="fas fa-clipboard-list"></i><p class="ml-2 d-inline">New Consent</p></span>
            </div>
        </div>
        <div class="cardPadding">
            @if (!ViewData.ModelState.IsValid)
            {
                <div class="alert alert-danger pb-0" role="alert">
                    @Html.ValidationSummary()
                </div>
            }

            @using (Html.BeginForm("Add", "Consent", FormMethod.Post, new { @class = "mt-2" }))
            {
                <div class="row">
                    <div class="form-group col-6">
                        @Html.LabelFor(m => m.Name)
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-11">
                        @Html.LabelFor(m => m.FullName)
                        @Html.TextBoxFor(m => m.FullName, new { @class = "form-control" })
                    </div>
                </div>

                <button type="submit" class="btn btn-success">Save</button>

                @Html.AntiForgeryToken()
            }
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/Utilities")
}

