﻿body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

p {
    margin-bottom: 0;
}

tbody tr:nth-child(even) {
    background-color: #EBEBEB;
}

thead {
    background-color: #BFBFBF;
}

.customTableBorder {
    border: 1px solid red;
}

table.table-bordered > thead > tr > th {
    border: 1px solid #999999;
}

.clientSideMenuHover {
    transition: 0.5s;
    color: black;
}

.clientSideMenuHover:hover {
    background-color: gray;
    transition: 0.75s;
    color: white;
}

.customCheckbox {
    width: 30px;
    height: 30px;
}

.customShadow {
    box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.15);
}

.customInput {
    border: 0px;
    width: 100%;
    background-color: transparent
}

.customInput:focus {
    outline: none;
}

.adminPanelLink {
    border: 1px solid rgba(0, 0, 0, 0.15);
    text-decoration: none;
    padding-top: 4rem;
    padding-bottom: 4rem;
    font-size: 18px;
}

.adminPanelLink:hover {
    text-decoration: none;
}

.adminPanelIcon {
    font-size: 20px;
}

.cardPadding {
    padding-top: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 1.5rem;
}

.containerMargin {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.iconFontSize {
    font-size: 21px;
}
