﻿@using ASP_NET_CRM.ViewModels.Roles

@model RoleDetailsViewModel
@{
    ViewBag.Title = "DetailsView";
    Layout = "~/Views/Shared/_AdministratorLayout.cshtml";
}

<div class="container mt-3" id="container">

    <button class="btn btn-danger" onclick="goBack()"><i class="fas fa-arrow-left"></i> Back</button>

    <div class="card mt-3">
        <div class="card-header bg-light justify-content-between row mr-0 ml-0">
            <div class="d-inline iconFontSize">
                <span class="align-middle"><i class="fas fa-tag"></i><p class="ml-2 d-inline">Role : @Model.Id</p></span>
            </div>
        </div>
        <div class="cardPadding">
            <div class="row">
                <div class="form-group col-3">
                    @Html.LabelFor(c => c.Created)
                    @Html.TextBoxFor(c => c.Created, new { @class = "form-control" })
                </div>
                <div class="form-group col-3">
                    @Html.LabelFor(c => c.CreatedBy)
                    @Html.TextBoxFor(c => c.CreatedBy, new { @class = "form-control" })
                </div>
                <div class="form-group col-3">
                    @Html.LabelFor(c => c.LastUpdated)
                    @Html.TextBoxFor(c => c.LastUpdated, new { @class = "form-control" })
                </div>
                <div class="form-group col-3">
                    @Html.LabelFor(c => c.LastUpdatedBy)
                    @Html.TextBoxFor(c => c.LastUpdatedBy, new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-8">
                    @Html.LabelFor(m => m.Name)
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-12">
                    @Html.LabelFor(m => m.Description)
                    @Html.TextAreaFor(m => m.Description, new { @class = "form-control", @style = "min-height: 12rem" })
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/Readonly")
    @Scripts.Render("~/Utilities")
}

