﻿@using ASP_NET_CRM.ViewModels.Roles
@using ASP_NET_CRM.DTO.Role

@model RoleIndexViewModel
@{
    ViewBag.Title = "IndexView";
    Layout = "~/Views/Shared/_AdministratorLayout.cshtml";
}

<div class="container mt-3">
    <div class="card containerMargin">
        <div class="card-header bg-light justify-content-center row mr-0 ml-0">
            <h2>Roles</h2>
        </div>
        <div class="cardPadding">
            <div class="mt-3">
                <table class="table table-bordered" id="roleTable">
                    <thead>
                        <tr>
                            <th scope="col" style="width: 7%">Id</th>
                            <th scope="col" style="width: 81%">Name</th>
                            <th scope="col" style="width: 12%">Actions</th>
                        </tr>
                    </thead>
                    @if (Model.Roles.Count() > 0)
                    {
                        <tbody id="tableBody">
                            @foreach (RoleDto role in Model.Roles)
                            {
                                <tr id="role_@role.Id">
                                    <td class="align-middle">@role.Id</td>
                                    <td class="align-middle">@role.Name</td>
                                    <td class="text-center">
                                        <a class="btn btn-success" href="@Url.Action("DetailsView", "Role", new { id = role.Id })"><i class="fas fa-search"></i> Details</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    }
                </table>
                <div id="tableMessages" class="mb-3">
                    @if (Model.Roles.Count() == 0)
                    {
                        @Html.Partial("_GlobalNoDataToDisplayPartial");
                    }
                </div>
                @if (Model.Roles.Count() > 0)
                {
                    <div class="container">
                        <div class="row justify-content-between">
                            <div class="col-3 pl-0">
                                @using (Html.BeginForm("IndexView", "Role", null, FormMethod.Get, new { @class = "form-inline" }))
                                {
                                    @Html.DropDownList("recordsPerPage", new SelectList(Model.RecordsPerPageList), new { @class = "form-control", id = "recordsPerPageList" })
                                    <p class="ml-1">records per page</p>
                                }
                            </div>
                            <div class="col-6 pr-0 d-flex justify-content-end">
                                <ul class="pagination justify-content-end">
                                    @if (Model.Pagination.CurrentPage > 1)
                                    {
                                        <li class="page-item">
                                            @Html.ActionLink("Previous", "IndexView", "Role", new { currentPage = Model.Pagination.CurrentPage - 1, recordsPerPage = Model.Pagination.RecordsPerPage }, new { @class = "page-link" })
                                        </li>
                                    }
                                    @for (var index = Model.Pagination.StartPage; index <= Model.Pagination.EndPage; index++)
                                    {
                                        if (Model.Pagination.CurrentPage == index)
                                        {
                                            <li class="page-item active">@Html.ActionLink(index.ToString(), "IndexView", "Role", new { currentPage = index, recordsPerPage = Model.Pagination.RecordsPerPage }, new { @class = "page-link" })</li>
                                        }
                                        else
                                        {
                                            <li class="page-item">@Html.ActionLink(index.ToString(), "IndexView", "Role", new { currentPage = index, recordsPerPage = Model.Pagination.RecordsPerPage }, new { @class = "page-link" })</li>
                                        }
                                    }
                                    @if (Model.Pagination.CurrentPage < Model.Pagination.EndPage)
                                    {
                                        <li class="page-item">@Html.ActionLink("Next", "IndexView", "Role", new { currentPage = Model.Pagination.CurrentPage + 1, recordsPerPage = Model.Pagination.RecordsPerPage }, new { @class = "page-link" })</li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/Shared/RecordsPerPage")
}

