﻿@model ASP_NET_CRM.ViewModels.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    Layout = "~/Views/Shared/_AdministratorLayout.cshtml";
}

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{

    <div class="container mt-3" id="container">
        <div class="card mt-3">
            <div class="card-header bg-light justify-content-between row mr-0 ml-0">
                <div class="d-inline" style="font-size: 21px">
                    <span class="align-middle"><i class="fas fa-key"></i><p class="ml-2 d-inline">Reset Password</p></span>
                </div>
            </div>
            <div class="pl-4 pt-3 pb-4 pr-4">

                @if (!ViewData.ModelState.IsValid)
                {
                    <div class="alert alert-danger pb-0" role="alert">
                        @Html.ValidationSummary()
                    </div>
                }

                <div class="row">
                    <div class="form-group col-8">
                        @Html.LabelFor(m => m.Email)
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control readonly" })
                    </div>
                </div>

                <button type="submit" class="btn btn-success"><i class="fas fa-paper-plane"></i> Send Link</button>

            </div>
        </div>
    </div>

    @Html.AntiForgeryToken()
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/ReadonlyClass")
}
