﻿@using ASP_NET_CRM.ViewModels

@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<div class="container d-flex justify-content-center align-items-center" style="height: 80vh" id="container">
    <div class="card w-50" style="border: 1px solid gray">
        <div class="pb-4">
            <div class="card-header row mr-0 ml-0 d-flex justify-content-center align-content-center" style="background-color: gray">
                <div class="row">
                    <img src="@Url.Content("~/logo.png")" style="height: 50px">
                </div>
            </div>


            <div class="row container mr-0 ml-0 mt-3">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { id = "loginForm", @class = "w-100" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="alert alert-danger pb-0" hidden role="alert" id="validationSummary">
                        @Html.ValidationSummary()
                    </div>

                    <div class="form-group col-12">
                        @Html.LabelFor(m => m.Email)
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-12">
                        @Html.LabelFor(m => m.Password)
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button value="Log in" type="submit" class="btn btn-info" id="loginButton">Login</button>
                        </div>
                    </div>
                }
            </div>
        </div>
        </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/WebAPIGetToken")
}
