﻿@model ASP_NET_CRM.ViewModels.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_AdministratorLayout.cshtml";
}

<div class="container mt-3" id="container">
    <div class="card mt-3">
        <div class="card-header bg-light justify-content-between row mr-0 ml-0">
            <div class="d-inline" style="font-size: 21px">
                <span class="align-middle"><i class="fas fa-user"></i><p class="ml-2 d-inline">New User</p></span>
            </div>
        </div>
        <div class="pl-4 pt-3 pb-4 pr-4">

            @if (!ViewData.ModelState.IsValid)
            {
                <div class="alert alert-danger pb-0" role="alert">
                    @Html.ValidationSummary()
                </div>
            }

            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "mt-2", @id = "newUserForm" }))
            {
                <div class="row">
                    <div class="form-group col-8">
                        @Html.LabelFor(m => m.Email)
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-6">
                        @Html.LabelFor(m => m.FirstName)
                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-8">
                        @Html.LabelFor(m => m.Surname)
                        @Html.TextBoxFor(m => m.Surname, new { @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-8">
                        @Html.LabelFor(m => m.Password)
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-8">
                        @Html.LabelFor(m => m.ConfirmPassword)
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    </div>
                </div>

                <button type="submit" class="btn btn-success">Save</button>

                @Html.HiddenFor(m => m.FullName)
                @Html.AntiForgeryToken()
            }
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/Views/User/Register")
}