﻿@{
    ViewBag.Title = "Reset password confirmation";
}

<div class="container align-content-center">
    <div class="alert alert-success mt-5" role="alert">
        <h4 class="alert-heading">Password reset correctly!</h4>
        <p class="mb-0">Your password has been reset. Please @Html.ActionLink("click here to log in.", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</p>
    </div>
</div>
