﻿@model ASP_NET_CRM.ViewModels.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
}

@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="container mt-3" id="container">
        <div class="card mt-3">
            <div class="card-header bg-light justify-content-between row mr-0 ml-0">
                <div class="d-inline" style="font-size: 21px">
                    <span class="align-middle"><i class="fas fa-key"></i><p class="ml-2 d-inline">Reset Password</p></span>
                </div>
            </div>
            <div class="pl-4 pt-3 pb-4 pr-4">

                @if (!ViewData.ModelState.IsValid)
                {
                    <div class="alert alert-danger pb-0" role="alert">
                        @Html.ValidationSummary()
                    </div>
                }

                <div class="row">
                    <div class="form-group col-8">
                        @Html.LabelFor(m => m.Email)

                        @if (!String.IsNullOrEmpty(Model.Email))
                        {
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control readonly" })
                        }
                        else
                        {
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-8">
                        @Html.LabelFor(m => m.Password)
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-8">
                        @Html.LabelFor(m => m.ConfirmPassword)
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    </div>
                </div>

                <button type="submit" class="btn btn-success"><i class="far fa-save"></i> Save</button>

            </div>
        </div>
    </div>

    @Html.HiddenFor(model => model.Code)
    @Html.AntiForgeryToken()
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/ReadonlyClass")
}
