﻿@{
    ViewBag.Title = "Home Page";
}

<div class="container d-flex justify-content-center align-items-center" style="height: 70vh; font-size: 35px" id="container">
        <div class="card w-75">
            <div class="card-header bg-dark">
                <div class="row justify-content-center">
                    <img src="@Url.Content("~/logo.png")" style="height: 50px">
                </div>
            </div>
            <div class="card-body">
                <div class="row justify-content-center">
                    <div class="form-group">
                        Hello @(((System.Security.Claims.ClaimsIdentity)User.Identity).FindFirst("FullName").Value)!
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="form-group">
                        Welcome in ASP NET CRM!
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="form-group">
                        Today is @DateTime.Now.Day/@DateTime.Now.Month/@DateTime.Now.Year
                    </div>
                </div>
            </div>
        </div>
</div>