﻿<!DOCTYPE html>
<html>
<head>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ASP NET CRM</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark navbar-rounded shadow" style="background-color: #0094ff; height: 56px;">
        <a href="@Url.Action("IndexView", "Administrator")">
            <img src="@Url.Content("~/logo.png")" style="height: 35px">
        </a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup"></div>
        <div class="nav justify-content-end">
            <div class="navbar-nav">
                <a class="nav-item nav-link ml-3 mr-2" href="@Url.Action("Index", "Home")"><i class="fas fa-tablet-alt"></i> Application Panel</a>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
    <div>
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/lib")
    @Scripts.Render("~/WebAPIRemoveToken")
    @RenderSection("scripts", required: false)

</body>
</html>
