﻿<div class="modal fade" id="searchClientModal" tabindex="-1" style="max-height: 850px">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Search Client</h5>
                <div class="col-8 pr-0 d-flex justify-content-end align-items-center">
                    <p class="mr-1">Search by</p>
                    @Html.DropDownList("searchBy", new SelectList(Model.SearchClientPropertyList), new { @class = "form-control mr-2", @style = "max-width: 100px" })
                    @Html.TextBox("searchString", null, new { @class = "form-control", placeholder = "Search", @style = "max-width: 190px" })
                    <button type="submit" class="btn btn-success ml-2" id="searchClientsByProperty" disabled><i class="fas fa-search"></i> Search</button>
                    <button type="submit" class="btn btn-success ml-2" id="searchAllClientsButton" disabled><i class="fas fa-search"></i> Search All Clients</button>
                </div>
            </div>
            <div class="modal-body" id="searchClientModalBody">
                <div class="alert alert-danger pb-0 text-center justify-content-center" id="errorDiv" role="alert" style="display: none">
                    <p id="errorBox" class="mb-2"></p>
                </div>
                <table class="table table-bordered" id="clientTable">
                    <thead>
                        <tr>
                            <th scope="col" style="width: 7%">Id</th>
                            <th scope="col" style="width: 30%">Name</th>
                            <th scope="col">Client Type</th>
                            <th scope="col">Pesel</th>
                            <th scope="col">NIP</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody id="tableBody">
                    </tbody>
                </table>
                <div id="spinnerDiv" class="text-center">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
