﻿<div class="col-2 pl-0 pr-0 bg-light customShadow" style="max-height: none; min-height: 100vh;">
    <a class="d-block pt-4 pb-4 text-center clientSideMenuHover" style="text-decoration: none;" href="@Url.Action("Client", "Consent", new { id = Model.Id })"><i class="fas fa-clipboard-list"></i> Marketing Consents</a>
    <hr class="m-0" style="border: 0; border-top: 1px solid rgba(0, 0, 0, 0.15)" />
    <a class="d-block pt-4 pb-4 text-center clientSideMenuHover" style="text-decoration: none;" href="@Url.Action("Client", "Interaction", new { id = Model.Id })"><i class="fas fa-briefcase"></i> Interactions</a>
    <hr class="m-0" style="border: 0; border-top: 1px solid rgba(0, 0, 0, 0.15)" />
    <a class="d-block pt-4 pb-4 text-center clientSideMenuHover" style="text-decoration: none;" href="@Url.Action("Client", "Address", new { id = Model.Id })"><i class="fas fa-map-marker-alt"></i> Addresses</a>
    <hr class="m-0" style="border: 0; border-top: 1px solid rgba(0, 0, 0, 0.15)" />
    <a class="d-block pt-4 pb-4 text-center clientSideMenuHover" style="text-decoration: none;" href="@Url.Action("Client", "Note", new { id = Model.Id })"><i class="fas fa-sticky-note"></i> Notes</a>
    <hr class="m-0" style="border: 0; border-top: 1px solid rgba(0, 0, 0, 0.15)" />
</div>