﻿<div class="card-header bg-light justify-content-between row mr-0 ml-0">
    <div class="d-inline" style="font-size: 19px">
        <span class="align-middle"><i class="far fa-address-card mt-auto mb-auto"></i> @Model.Name</span>
    </div>

    <div class="d-inline-block justify-content-end">
        <button type="submit" class="btn btn-success"><i class="far fa-save"></i> Save</button>
    </div>
</div>