﻿<div class="alert alert-success" role="alert" style="right: -470px; bottom: 20px; position: fixed; width: 450px; height: 120px; margin-bottom: 0px; display: none; z-index: 100" id="successAlert">
    <div class="d-inline-block">
        <div class="d-inline-block h-100"><i class="fas fa-check-circle d-inline" style="font-size: 50px"></i></div>
        <div class="d-inline-block ml-3">
            <div>
                <h4 class="alert-heading">Success</h4>
            </div>
            <div class="w-100 mt-3" id="successMessageDiv">
            @if (TempData["Success"] != null)
            { 
                @TempData["Success"] 
            }
            </div>
        </div>
    </div>
</div>
