﻿<div class="alert alert-danger" role="alert" style="right: -470px; bottom: 20px; position: fixed; width: 450px; height: 120px; margin-bottom: 0px; display: none; z-index: 100" id="errorAlertAsync">
    <div class="d-flex align-items-center">
        <div class="d-inline-block"><span><i class="fas fa-exclamation-circle d-inline " style="font-size: 50px"></i></span></div>
        <div class="d-inline-block ml-3">
            <div>
                <h4 class="alert-heading">Error</h4>
            </div>
            <div class="w-100 mt-3" id="errorMessageDiv"></div>
        </div>
    </div>
</div>
