﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASP NET CRM</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/cssjqryUi")  
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="vh-100">
    <nav class="navbar navbar-expand-lg navbar-dark navbar-rounded shadow" style="background-color: #663FFF">
        <a href="@Url.Action("Index", "Home")">
            <img src="@Url.Content("~/logo.png")" style="height: 35px">
        </a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                @if (User.Identity.IsAuthenticated)
                {
                    <a class="nav-item nav-link ml-3" href="@Url.Action("IndexView", "Client")"><i class="far fa-address-card"></i> Clients</a>
                    <a class="nav-item nav-link ml-3" href="@Url.Action("IndexView", "Interaction")"><i class="fas fa-briefcase"></i> Interaction</a>
                    <a class="nav-item nav-link ml-3" href="@Url.Action("IndexView", "Address")"><i class="fas fa-map-marker-alt"></i> Adresses</a>
                    <a class="nav-item nav-link ml-3" href="@Url.Action("IndexView", "Note")"><i class="fas fa-sticky-note"></i> Notes</a>
                }
            </div>
        </div>
        <div class="nav justify-content-end">
            <div class="navbar-nav">
                @if (User.Identity.IsAuthenticated && User.IsInRole(ASP_NET_CRM.Constants.Roles.RoleConstants.AdministratorRole))
                {
                    <a class="nav-item nav-link ml-3 mr-2" href="@Url.Action("IndexView", "Administrator")"><i class="fas fa-tools"></i> Administrator Panel</a>
                }
                @if (User.Identity.IsAuthenticated)
                {
                    @Html.Partial("_LoginPartial")
                }
            </div>
        </div>
    </nav>
    <div class="body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/lib")
    @Scripts.Render("~/WebAPIRemoveToken")   
    @RenderSection("scripts", required: false)

</body>
</html>
