﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li style="padding: .5rem 1rem; color: rgba(255, 255, 255, .5)">
                <i class="fas fa-user"></i> @(((System.Security.Claims.ClaimsIdentity)User.Identity).FindFirst("FullName").Value)
            </li>
            <li><a class="nav-item nav-link" href="javascript:Logout()"><i class="fas fa-sign-out-alt"></i> Log off</a></li>
        </ul>
    }
}
