﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div class="container align-content-center">
    <div class="alert alert-danger mt-5" role="alert">
        <h4 class="alert-heading">Error!</h4>
        <p class="mb-0">Something gone wrong.</p>
    </div>
</div>

