﻿@using ASP_NET_CRM.ViewModels.Users
@using ASP_NET_CRM.DTO.Role

@model UserRolesDetailsViewModel
@{
    ViewBag.Title = "DetailsView";
    Layout = "~/Views/Shared/_AdministratorLayout.cshtml";
}

<div id="alerts">
    @if (TempData["Success"] != null)
    {
        @Html.Partial("_GlobalSuccessMessagePartial")
    }
</div>

<div class="container mt-3" id="container">
    <div class="card">
        <div class="card-header bg-light justify-content-between row mr-0 ml-0">
            <div class="d-inline iconFontSize">
                <span class="align-middle"><i class="fas fa-user"></i> @Model.FullName</span>
            </div>
            @if (Model.Roles.Count() != 0)
            {
                <div class="d-inline-block justify-content-end">
                    <a class="btn btn-warning" href="@Url.Action("EditView", "UserRole", new { id = Model.Id })">
                        <i class="far fa-edit"></i> Assign Roles
                    </a>
                </div>
            }
        </div>

        <div class="cardPadding">
            @if (Model.Roles.Count() == 0)
            {
                <div class="alert alert-warning alert-link text-center mb-0" role="alert">
                    No data to display!
                </div>
            }
            else
            {
                foreach (RoleDto role in Model.Roles)
                {
                    <div class="row mb-4">
                        <div class="form-check d-flex">
                            <div class="d-inline align-self-center">
                                <input type="checkbox" disabled class="customCheckbox align-middle m-auto" id="role_@role.Id" @(Model.UserRoles.Any(r => r.Equals(role.Id.ToString())) ? "checked='checked'" : String.Empty) />
                            </div>
                            <div class="d-inline">
                                <label for="consent_@role.Id" class="ml-2 pt-1 align-middle" style="font-size: 19px;"> @role.Name</label>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/ClearAlerts")
    @Scripts.Render("~/Messages")
}

