﻿@using ASP_NET_CRM.ViewModels.Users

@model UserRolesEditViewModel
@{
    ViewBag.Title = "EditView";
    Layout = "~/Views/Shared/_AdministratorLayout.cshtml";
}

@using (Html.BeginForm("UpdateUserRoles", "UserRole", FormMethod.Post))
{
    <div class="container mt-3" id="container">
        <div class="card">
            <div class="card-header bg-light justify-content-between row mr-0 ml-0">
                <div class="d-inline iconFontSize">
                    <span class="align-middle"><i class="fas fa-user"></i> @Model.FullName</span>
                </div>
                @if (Model.Roles.Count() != 0)
                {
                    <div class="d-inline-block justify-content-end">
                        <button type="submit" class="btn btn-success"><i class="far fa-save"></i> Save</button>
                    </div>
                }
            </div>

            <div class="cardPadding">
                @if (!ViewData.ModelState.IsValid)
                {
                    <div class="alert alert-danger pb-0" role="alert">
                        @Html.ValidationSummary()
                    </div>
                }
                @if (Model.Roles.Count() == 0)
                {
                    <div class="alert alert-warning alert-link text-center" role="alert">
                        No data to display!
                    </div>
                }
                else
                {
                    for (int i = 0; i < Model.Roles.Count; i++)
                    {
                        <div class="row mb-4">
                            <div class="form-check d-flex">
                                <div class="d-inline align-self-center">
                                    @Html.HiddenFor(u => u.Roles[i].Id)
                                    @Html.HiddenFor(u => u.Roles[i].Name)
                                    @Html.CheckBoxFor(u => u.Roles[i].Selected, new { @class = "customCheckbox align-middle", id = "Roles[" + i + "].Selected" })
                                </div>
                                <div class="d-inline">
                                    <label class="ml-2 pt-1 align-middle" style="font-size: 19px;"> @Model.Roles[i].Name</label>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>

    @Html.HiddenFor(c => c.Id)
    @Html.AntiForgeryToken()
}

