﻿@using ASP_NET_CRM.ViewModels.ApplicationErrors

@model ApplicationErrorDetailsViewModel
@{
    ViewBag.Title = "DetailsView";
    Layout = "~/Views/Shared/_AdministratorLayout.cshtml";
}

<div class="container mt-3" id="container">

    <button class="btn btn-danger" onclick="goBack()"><i class="fas fa-arrow-left"></i> Back</button>

    <div class="card mt-3">
        <div class="card-header bg-light justify-content-between row mr-0 ml-0">
            <div class="d-inline" style="font-size: 21px">
                <span class="align-middle"><i class="fas fa-exclamation-triangle"></i><p class="ml-2 d-inline">Application Error : @Model.Id</p></span>
            </div>
        </div>
        <div class="cardPadding">
            <div class="row justify-content-between">
                <div class="form-group col-8">
                    @Html.LabelFor(m => m.ControllerName)
                    @Html.TextBoxFor(m => m.ControllerName, new { @class = "form-control" })
                </div>
                <div class="form-group col-3">
                    @Html.LabelFor(m => m.ControllerType)
                    @Html.TextBoxFor(m => m.ControllerType, new { @class = "form-control" })
                </div>
            </div>
            <div class="row justify-content-between">
                <div class="form-group col-8">
                    @Html.LabelFor(m => m.ControllerActionName)
                    @Html.TextBoxFor(m => m.ControllerActionName, new { @class = "form-control" })
                </div>
                <div class="form-group col-3">
                    @Html.LabelFor(m => m.HttpStatusCode)
                    <input type="number" value="@((Int16) Model.HttpStatusCode)" class="form-control" />
                </div>
            </div>
            <div class="row justify-content-between">
                <div class="form-group col-8">
                    @Html.LabelFor(m => m.ExceptionType)
                    @Html.TextBoxFor(m => m.ExceptionType, new { @class = "form-control" })
                </div>
                <div class="form-group col-3">
                    @Html.LabelFor(c => c.Created)
                    @Html.TextBoxFor(c => c.Created, new { @class = "form-control" })
                </div>
            </div>
            <div class="row justify-content-between">
                <div class="form-group col-8">
                    @Html.LabelFor(m => m.ClassName)
                    @Html.TextBoxFor(m => m.ClassName, new { @class = "form-control" })
                </div>
                <div class="form-group col-3">
                    @Html.LabelFor(c => c.CreatedBy)
                    @Html.TextBoxFor(c => c.CreatedBy, new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-8">
                    @Html.LabelFor(m => m.ActionName)
                    @Html.TextBoxFor(m => m.ActionName, new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-12">
                    @Html.LabelFor(m => m.Message)
                    @Html.TextAreaFor(m => m.Message, new { @class = "form-control", @style = "min-height: 10rem" })
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/Readonly")
    @Scripts.Render("~/Utilities")
}