﻿@using ASP_NET_CRM.ViewModels.ApplicationErrors

@model ErrorPageViewModel
@{
    ViewBag.Title = "ErrorPageView";
}

<div class="container align-content-center">
    <div class="alert alert-danger mt-5" role="alert">
        <h4 class="alert-heading">Error!</h4>
        <p class="mb-0">@Model.ErrorMessage</p>
    </div>
</div>


