﻿@using ASP_NET_CRM.ViewModels.ApplicationErrors
@using ASP_NET_CRM.DTO.ApplicationError
@using ASP_NET_CRM.Utilities;

@model ApplicationErrorIndexViewModel
@{
    ViewBag.Title = "IndexView";
    Layout = "~/Views/Shared/_AdministratorLayout.cshtml";
}

<div class="container mt-3">
    <div class="card containerMargin">
        <div class="card-header bg-light justify-content-center row mr-0 ml-0">
            <h2>Application Errors</h2>
        </div>
        <div class="cardPadding">
            <div class="mt-3">
                <table class="table table-bordered" id="applicationErrorTable">
                    <thead>
                        <tr>
                            <th scope="col" style="width: 7%">Id</th>
                            <th scope="col" style="width: 20%">Controller Name</th>
                            <th scope="col" style="width: 20%">Class Name</th>
                            <th scope="col" style="width: 20%">Action Name</th>
                            <th scope="col" style="width: 21%">Exception Type</th>
                            <th scope="col" style="width: 12%">Actions</th>
                        </tr>
                    </thead>
                    @if (Model.ApplicationErrors.Count() > 0)
                    {
                        <tbody id="tableBody">
                            @foreach (ApplicationErrorDto applicationError in Model.ApplicationErrors)
                            {
                                <tr id="applicationError_@applicationError.Id">
                                    <td class="align-middle">@Html.TextBoxFor(m => applicationError.Id, new { Id = "ApplicationErrorId_" + applicationError.Id, @class = "customInput" })</td>
                                    <td class="align-middle">@Html.TextBoxFor(m => applicationError.ControllerName, new { Id = "ApplicationErrorControllerName_" + applicationError.Id, @class = "customInput customInputTooltip" })</td>
                                    <td class="align-middle">@Html.TextBoxFor(m => applicationError.ClassName, new { Id = "ApplicationErrorClassName_" + applicationError.Id, @class = "customInput customInputTooltip" })</td>
                                    <td class="align-middle">@Html.TextBoxFor(m => applicationError.ActionName, new { Id = "ApplicationErrorActionName_" + applicationError.Id, @class = "customInput customInputTooltip" })</td>
                                    <td class="align-middle">@Html.TextBoxFor(m => applicationError.ExceptionType, new { Id = "ApplicationErrorExceptionType_" + applicationError.Id, @class = "customInput customInputTooltip" })</td>
                                    <td class="text-center">
                                        <a class="btn btn-success" href="@Url.Action("DetailsView", "ApplicationError", new { id = applicationError.Id })"><i class="fas fa-search"></i> Details</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    }
                </table>
                <div id="tableMessages" class="mb-3">
                    @if (Model.ApplicationErrors.Count() == 0)
                    {
                        @Html.Partial("_GlobalNoDataToDisplayPartial");
                    }
                </div>
                @if (Model.ApplicationErrors.Count() > 0)
                {
                    <div class="container">
                        <div class="row justify-content-between">
                            <div class="col-3 pl-0">
                                @using (Html.BeginForm("IndexView", "ApplicationError", null, FormMethod.Get, new { @class = "form-inline" }))
                                {
                                    @Html.DropDownList("recordsPerPage", new SelectList(Model.RecordsPerPageList), new { @class = "form-control", id = "recordsPerPageList" })
                                    <p class="ml-1">records per page</p>
                                }
                            </div>
                            <div class="col-6 pr-0 d-flex justify-content-end">
                                <ul class="pagination justify-content-end">
                                    @if (Model.Pagination.CurrentPage > 1)
                                    {
                                        <li class="page-item">
                                            @Html.ActionLink("Previous", "IndexView", "ApplicationError", new { currentPage = Model.Pagination.CurrentPage - 1, recordsPerPage = Model.Pagination.RecordsPerPage }, new { @class = "page-link" })
                                        </li>
                                    }
                                    @for (var index = Model.Pagination.StartPage; index <= Model.Pagination.EndPage; index++)
                                    {
                                        if (Model.Pagination.CurrentPage == index)
                                        {
                                            <li class="page-item active">@Html.ActionLink(index.ToString(), "IndexView", "ApplicationError", new { currentPage = index, recordsPerPage = Model.Pagination.RecordsPerPage }, new { @class = "page-link" })</li>
                                        }
                                        else
                                        {
                                            <li class="page-item">@Html.ActionLink(index.ToString(), "IndexView", "ApplicationError", new { currentPage = index, recordsPerPage = Model.Pagination.RecordsPerPage }, new { @class = "page-link" })</li>
                                        }
                                    }
                                    @if (Model.Pagination.CurrentPage < Model.Pagination.EndPage)
                                    {
                                        <li class="page-item">@Html.ActionLink("Next", "IndexView", "ApplicationError", new { currentPage = Model.Pagination.CurrentPage + 1, recordsPerPage = Model.Pagination.RecordsPerPage }, new { @class = "page-link" })</li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/Shared/RecordsPerPage")
    @Scripts.Render("~/Tooltip")
}
