﻿
@{
    ViewBag.Title = "UnathorizedView";
}

<div class="container align-content-center">
    <div class="alert alert-danger mt-5" role="alert">
        <h4 class="alert-heading">Error!</h4>
        <p class="mb-0">Unathorized access.</p>
    </div>
</div>

