﻿@using ASP_NET_CRM.ViewModels.InteractionTypes

@model InteractionTypeDetailsViewModel
@{
    ViewBag.Title = "DetailsView";
    Layout = "~/Views/Shared/_AdministratorLayout.cshtml";
}

<div id="alerts">
    @if (TempData["Success"] != null)
    {
        @Html.Partial("_GlobalSuccessMessagePartial")
    }
</div>

<div class="container mt-3" id="container">
    <div class="card mt-3">
        <div class="card-header bg-light justify-content-between row mr-0 ml-0">
            <div class="d-inline iconFontSize">
                <span class="align-middle"><i class="fas fa-bookmark"></i><p class="ml-2 d-inline">Interaction Type : @Model.Id</p></span>
            </div>
            <div class="d-inline-block justify-content-end">
                <a class="btn btn-warning" href="@Url.Action("EditView", "InteractionType", new { id = Model.Id })"><i class="far fa-edit"></i> Edit</a>
                <button type="button" class="btn btn-danger deleteModal" data-toggle="modal" data-target="#deleteModal"><i class="fas fa-times mr-1"></i>Delete</button>
            </div>
        </div>
        <div class="cardPadding">
            <div class="row">
                <div class="form-group col-5">
                    @Html.LabelFor(m => m.Name)
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                </div>
                <div class="col-1"></div>
                <div class="form-group col-3">
                    @Html.LabelFor(c => c.Created)
                    @Html.TextBoxFor(c => c.Created, new { @class = "form-control" })
                </div>
                <div class="form-group col-3">
                    @Html.LabelFor(c => c.CreatedBy)
                    @Html.TextBoxFor(c => c.CreatedBy, new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="col-6"></div>
                <div class="form-group col-3">
                    @Html.LabelFor(c => c.LastUpdated)
                    @Html.TextBoxFor(c => c.LastUpdated, new { @class = "form-control" })
                </div>
                <div class="form-group col-3">
                    @Html.LabelFor(c => c.LastUpdatedBy)
                    @Html.TextBoxFor(c => c.LastUpdatedBy, new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_InteractionTypeDeleteModalPartialView")

@section scripts
{
    @Scripts.Render("~/Messages")
    @Scripts.Render("~/Readonly")
}

