﻿@using ASP_NET_CRM.ViewModels.InteractionTypes

@model InteractionTypeEditViewModel
@{
    ViewBag.Title = "EditView";
    Layout = "~/Views/Shared/_AdministratorLayout.cshtml";
}

@using (Html.BeginForm("Update", "InteractionType", FormMethod.Post, new { @class = "mt-2" }))
{
    <div class="container mt-3" id="container">
        <div class="card mt-3">
            <div class="card-header bg-light justify-content-between row mr-0 ml-0">
                <div class="d-inline iconFontSize">
                    <span class="align-middle"><i class="fas fa-bookmark"></i><p class="ml-2 d-inline">Interaction Type : @Model.Id</p></span>
                </div>
                <div class="d-inline-block justify-content-end">
                    <button type="submit" class="btn btn-success"><i class="far fa-save"></i> Save</button>
                </div>
            </div>
            <div class="cardPadding">

                @if (!ViewData.ModelState.IsValid)
                {
                    <div class="alert alert-danger pb-0" role="alert">
                        @Html.ValidationSummary()
                    </div>
                }

                <div class="row">
                    <div class="form-group col-5">
                        @Html.LabelFor(m => m.Name)
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control readonly" })
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Html.HiddenFor(m => m.Id)
    @Html.AntiForgeryToken()
}

