﻿
@{
    ViewBag.Title = "IndexView";
    Layout = "~/Views/Shared/_AdministratorLayout.cshtml";
}

<div class="container mt-3">
    <div class="card mt-3 text-center">
        <div class="card-header bg-light text-center">
            <div class="d-inline" style="font-size: 21px">
                <span class="align-middle"><p class=""><i class="fas fa-tools"></i> Administrator Panel</p></span>
            </div>
        </div>
        <div class="pl-4 pt-3 pb-3 pr-4">
            <div class="row mt-2 mb-2">
                <div class="col-4">
                    <a class="d-block pt-6 pb-6 text-center clientSideMenuHover adminPanelLink rounded" href="@Url.Action("IndexView", "ApplicationError")"><i class="fas fa-exclamation-triangle adminPanelIcon"></i> Application Errors</a>
                </div>
                <div class="col-4">
                    <a class="d-block pt-6 pb-6 text-center clientSideMenuHover adminPanelLink rounded" href="@Url.Action("IndexView", "AddressPrefix")"><i class="fas fa-map-pin adminPanelIcon"></i> Address Prefixes</a>
                </div>
                <div class="col-4">
                    <a class="d-block pt-6 pb-6 text-center clientSideMenuHover adminPanelLink rounded" href="@Url.Action("IndexView", "Consent")"><i class="fas fa-clipboard-list adminPanelIcon"></i> Marketing Consents</a>
                </div>                
            </div>
            <div class="row mt-4 mb-2">
                <div class="col-4">
                    <a class="d-block pt-6 pb-6 text-center clientSideMenuHover adminPanelLink rounded" href="@Url.Action("IndexView", "User")"><i class="fas fa-user adminPanelIcon"></i> Users</a>
                </div>
                <div class="col-4">
                    <a class="d-block pt-6 pb-6 text-center clientSideMenuHover adminPanelLink rounded" href="@Url.Action("IndexView", "UserRole")"><i class="fas fa-user-tag adminPanelIcon"></i> User Roles</a>
                </div>
                <div class="col-4">
                    <a class="d-block pt-6 pb-6 text-center clientSideMenuHover adminPanelLink rounded" href="@Url.Action("IndexView", "Role")"><i class="fas fa-tag adminPanelIcon"></i> Roles</a>
                </div>               
            </div>
            <div class="row mt-4 mb-2 justify-content-center">
                <div class="col-4">
                    <a class="d-block pt-6 pb-6 text-center clientSideMenuHover adminPanelLink rounded" href="@Url.Action("IndexView", "InteractionType")"><i class="fas fa-bookmark adminPanelIcon"></i> Interaction Types</a>
                </div>
                <div class="col-4">
                    <a class="d-block pt-6 pb-6 text-center clientSideMenuHover adminPanelLink rounded" href="@Url.Action("IndexView", "InteractionClass")"><i class="far fa-bookmark adminPanelIcon"></i> Interaction Classes</a>
                </div>
            </div>
        </div>
    </div>
</div>

