﻿@using ASP_NET_CRM.ViewModels.Interactions
@using ASP_NET_CRM.Utilities
@using ASP_NET_CRM.Enums
@using ASP_NET_CRM.Constants.Roles

@model InteractionDetailsViewModel
@{
    ViewBag.Title = "DetailsView";
}

<div id="alerts">
    @if (TempData["Success"] != null)
    {
        @Html.Partial("_GlobalSuccessMessagePartial")
    }
</div>

<div class="container mt-3" id="container">
    <div class="card mt-3">
        <div class="card-header bg-light justify-content-between row mr-0 ml-0">
            <div class="d-inline" style="font-size: 21px">
                <span class="align-middle"><i class="fas fa-briefcase"></i><p class="ml-2 d-inline">Interaction : @Model.Id</p></span>
            </div>
            <div class="d-inline-block justify-content-end">
                @if (User.IsInRole(RoleConstants.EmployeeRole) && Model.Status != InteractionStatusEnum.Canceled && Model.Status != InteractionStatusEnum.Closed)
                {
                    <a class="btn btn-warning" href="@Url.Action("EditView", "Interaction", new { id = Model.Id })">
                        <i class="far fa-edit"></i> Edit
                    </a>
                }
                @if (User.IsInRole(RoleConstants.AdministratorRole))
                {
                    <button type="button" class="btn btn-danger deleteModal" data-toggle="modal" data-target="#deleteModal"><i class="fas fa-times mr-1"></i>Delete</button>
                }
            </div>
        </div>
        <div class="cardPadding">
            <div class="row">
                <div class="form-group col-5">
                    @Html.LabelFor(m => m.ClientName)
                    @Html.TextBoxFor(m => m.ClientName, new { @class = "form-control d-inline" })
                </div>
                <div class="col-2 mb-3 d-flex align-items-end pl-0">
                    <a class="btn btn-success d-inline" href="@Url.Action("DetailsView", "Client", new { id = Model.ClientId })"><i class="fas fa-search"></i> Client Details</a>
                </div>
                <div class="col-1"></div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Status)
                    @Html.TextBoxFor(c => c.Status, new { @class = "form-control", style = "max-width: 200px", @Value = @EnumUtilities.ShowEnumDisplayAttribute(Model.Status) })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-5">
                    @Html.LabelFor(m => m.Type)
                    @Html.TextBoxFor(m => m.Type, new { @class = "form-control" })
                </div>
                <div class="col-1"></div>
                <div class="form-group col-3">
                    @Html.LabelFor(c => c.Created)
                    @Html.TextBoxFor(c => c.Created, new { @class = "form-control" })
                </div>
                <div class="form-group col-3">
                    @Html.LabelFor(c => c.CreatedBy)
                    @Html.TextBoxFor(c => c.CreatedBy, new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-5">
                    @Html.LabelFor(m => m.Class)
                    @Html.TextBoxFor(m => m.Class, new { @class = "form-control" })
                </div>
                <div class="col-1"></div>
                <div class="form-group col-3">
                    @Html.LabelFor(c => c.LastUpdated)
                    @Html.TextBoxFor(c => c.LastUpdated, new { @class = "form-control" })
                </div>
                <div class="form-group col-3">
                    @Html.LabelFor(c => c.LastUpdatedBy)
                    @Html.TextBoxFor(c => c.LastUpdatedBy, new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-2">
                    @Html.LabelFor(c => c.InteractionDate)
                    @Html.TextBoxFor(c => c.InteractionDate, "{0:dd/MM/yyyy}", new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-12">
                    @Html.LabelFor(m => m.Description)
                    @Html.TextAreaFor(m => m.Description, new { @class = "form-control", @style = "min-height: 12rem" })
                </div>
            </div>
        </div>
    </div>
</div>

@if (User.IsInRole(RoleConstants.AdministratorRole))
{
    @Html.Partial("_InteractionDeleteModalPartialView")
}

@section scripts
{
        @Scripts.Render("~/Readonly")
        @Scripts.Render("~/Messages")
    }