﻿@using ASP_NET_CRM.ViewModels.Interactions
@using ASP_NET_CRM.Utilities

@model InteractionEditViewModel
@{
    ViewBag.Title = "EditView";
}

@using (Html.BeginForm("Update", "Interaction", FormMethod.Post, new { @class = "mt-2" }))
{
    <div class="container mt-3" id="container">
        <div class="card mt-3">
            <div class="card-header bg-light justify-content-between row mr-0 ml-0">
                <div class="d-inline" style="font-size: 21px">
                    <span class="align-middle"><i class="fas fa-briefcase"></i><p class="ml-2 d-inline">Interaction : @Model.Id</p></span>
                </div>
                <div class="d-inline-block justify-content-end">
                    <button type="submit" class="btn btn-success"><i class="far fa-save"></i> Save</button>
                </div>
            </div>
            <div class="cardPadding">

                @if (!ViewData.ModelState.IsValid)
                {
                    <div class="alert alert-danger pb-0" role="alert">
                        @Html.ValidationSummary()
                    </div>
                }

                <div class="row">
                    <div class="form-group col-5">
                        @Html.LabelFor(m => m.ClientName)
                        <input type="text" value="@Model.ClientName" class="form-control readonly" />
                    </div>
                    <div class="col-3"></div>
                    <div class="form-group col-3 pl-0">
                        @Html.LabelFor(m => m.Status)
                        @Html.DropDownListFor(m => m.Status, Model.AvailableStatuses, new { @class = "form-control", style = "max-width: 200px" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-5">
                        @Html.LabelFor(m => m.Type)
                        @Html.TextBoxFor(m => m.Type, new { @class = "form-control readonly" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-5">
                        @Html.LabelFor(m => m.Class)
                        @Html.TextBoxFor(m => m.Class, new { @class = "form-control readonly" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-2">
                        @Html.LabelFor(c => c.InteractionDate)
                        @Html.TextBoxFor(c => c.InteractionDate, "{0:dd/MM/yyyy}", new { @class = "form-control readonly" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-12">
                        @Html.LabelFor(m => m.Description)
                        @Html.TextAreaFor(m => m.Description, new { @class = "form-control", @style = "min-height: 12rem" })
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Html.HiddenFor(m => m.Id)
    @Html.AntiForgeryToken()
}

@section scripts
{
    @Scripts.Render("~/ReadonlyClass")
}