﻿@using ASP_NET_CRM.ViewModels.Interactions;
@using ASP_NET_CRM.DTO.Interaction;
@using ASP_NET_CRM.Utilities;
@using System.Web.Mvc;
@using ASP_NET_CRM.Enums
@using ASP_NET_CRM.Constants.Roles

@model InteractionIndexViewModel
@{
    ViewBag.Title = "Index";
}

<div id="alerts">
    @if (TempData["Success"] != null)
    {
        @Html.Partial("_GlobalSuccessMessagePartial")
    }
    @if (TempData["Error"] != null)
    {
        @Html.Partial("_GlobalErrorMessagePartial")
    }
</div>

<div class="container mt-3">
    <div class="card containerMargin">
        <div class="card-header bg-light justify-content-center row mr-0 ml-0">
            <h2>Interactions</h2>
        </div>
        <div class="cardPadding">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-3 pl-0">
                        @if (User.IsInRole(RoleConstants.EmployeeRole))
                        {
                            <a class="btn btn-success" href="@Url.Action("NewView", "Interaction")"><i class="fas fa-plus"></i> New Interaction</a>
                        }
                    </div>
                    <div class="col-7 pr-0 d-flex justify-content-end">
                        @using (Html.BeginForm("IndexView", "Interaction", FormMethod.Get, new { @class = "form-inline" }))
                        {
                            <p class="mr-1">Search by</p>
                            @Html.DropDownList("searchBy", new SelectList(Model.SearchPropertyList), new { @class = "form-control mr-2" })
                            @Html.TextBox("searchString", null, new { @class = "form-control", placeholder = "Search" });
                            <button type="submit" class="btn btn-success ml-2"><i class="fas fa-search"></i> Search</button>
                        }
                    </div>
                </div>
            </div>

            <div class="mt-3">
                <table class="table table-bordered" id="interactionTable">
                    <thead>
                        <tr>
                            <th scope="col" style="width: 7%">Id</th>
                            <th scope="col">Client Name</th>
                            <th scope="col">Type</th>
                            <th scope="col">Class</th>
                            <th scope="col" style="width: 13%">Status</th>
                            <th scope="col" style="width: 28%">Actions</th>
                        </tr>
                    </thead>
                    @if (Model.Interactions.Count() > 0)
                    {
                        <tbody id="tableBody">
                            @foreach (InteractionDto interaction in Model.Interactions)
                            {
                                <tr id="interaction_@interaction.Id">
                                    <td class="align-middle">@Html.TextBoxFor(m => interaction.Id, new { Id = "InteractionId_" + interaction.Id, @class = "customInput" })</td>
                                    <td class="align-middle">@Html.TextBoxFor(m => interaction.Client.Name, new { Id = "InteractionClientName_" + interaction.Id, @class = "customInput customInputTooltip" })</td>
                                    <td class="align-middle">@Html.TextBoxFor(m => interaction.Type, new { Id = "InteractionType_" + interaction.Id, @class = "customInput customInputTooltip" })</td>
                                    <td class="align-middle">@Html.TextBoxFor(m => interaction.Class, new { Id = "InteractionClass_" + interaction.Id, @class = "customInput customInputTooltip" })</td>
                                    <td class="align-middle">@EnumUtilities.ShowEnumDisplayAttribute(interaction.Status)</td>
                                    <td class="text-center">
                                        <a class="btn btn-success" href="@Url.Action("DetailsView", "Interaction", new { id = interaction.Id })"><i class="fas fa-search"></i> Details</a>
                                        @if (User.IsInRole(RoleConstants.EmployeeRole) && interaction.Status != InteractionStatusEnum.Canceled && interaction.Status != InteractionStatusEnum.Closed)
                                        {
                                            <a class="btn btn-warning" href="@Url.Action("EditView", "Interaction", new { id = interaction.Id })"><i class="far fa-edit"></i> Edit</a>
                                        }
                                        @if (User.IsInRole(RoleConstants.AdministratorRole))
                                        {
                                            <button type="button" class="btn btn-danger deleteModal" data-id="@interaction.Id" data-toggle="modal" data-target="#deleteModal"><i class="fas fa-times mr-1"></i>Delete</button>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    }
                </table>
                <div id="tableMessages" class="mb-3">
                    @if (Model.Interactions.Count() == 0)
                    {
                        @Html.Partial("_GlobalNoDataToDisplayPartial");
                    }
                </div>
                @if (Model.Interactions.Count() > 0)
                {
                    <div class="container">
                        <div class="row justify-content-between">
                            <div class="col-3 pl-0">
                                @using (Html.BeginForm("IndexView", "Interaction", null, FormMethod.Get, new { @class = "form-inline" }))
                                {
                                    if (!String.IsNullOrEmpty(Model.Pagination.SearchString) && !String.IsNullOrEmpty(Model.Pagination.SearchBy))
                                    {
                                        @Html.Hidden("searchString", Model.Pagination.SearchString);
                                        @Html.Hidden("searchBy", Model.Pagination.SearchBy);
                                    }
                                    @Html.DropDownList("recordsPerPage", new SelectList(Model.RecordsPerPageList), new { @class = "form-control", id = "recordsPerPageList" })
                                    <p class="ml-1">records per page</p>
                                }
                            </div>
                            <div class="col-6 pr-0 d-flex justify-content-end">
                                <ul class="pagination justify-content-end">
                                    @if (Model.Pagination.CurrentPage > 1)
                                    {
                                        <li class="page-item">
                                            @if (!String.IsNullOrEmpty(Model.Pagination.SearchString) && !String.IsNullOrEmpty(Model.Pagination.SearchBy))
                                            {
                                                @Html.ActionLink("Previous", "IndexView", "Interaction", new { currentPage = Model.Pagination.CurrentPage - 1, recordsPerPage = Model.Pagination.RecordsPerPage, searchString = Model.Pagination.SearchString, searchBy = Model.Pagination.SearchBy }, new { @class = "page-link" })
                                            }
                                            else
                                            {
                                                @Html.ActionLink("Previous", "IndexView", "Interaction", new { currentPage = Model.Pagination.CurrentPage - 1, recordsPerPage = Model.Pagination.RecordsPerPage }, new { @class = "page-link" })
                                            }
                                        </li>
                                    }
                                    @for (var index = Model.Pagination.StartPage; index <= Model.Pagination.EndPage; index++)
                                    {
                                        if (Model.Pagination.CurrentPage == index)
                                        {
                                            if (!String.IsNullOrEmpty(Model.Pagination.SearchString) && !String.IsNullOrEmpty(Model.Pagination.SearchBy))
                                            {
                                                <li class="page-item active">@Html.ActionLink(index.ToString(), "IndexView", "Interaction", new { currentPage = index, recordsPerPage = Model.Pagination.RecordsPerPage, searchString = Model.Pagination.SearchString, searchBy = Model.Pagination.SearchBy }, new { @class = "page-link" })</li>
                                            }
                                            else
                                            {
                                                <li class="page-item active">@Html.ActionLink(index.ToString(), "IndexView", "Interaction", new { currentPage = index, recordsPerPage = Model.Pagination.RecordsPerPage }, new { @class = "page-link" })</li>
                                            }

                                        }
                                        else
                                        {
                                            if (!String.IsNullOrEmpty(Model.Pagination.SearchString) && !String.IsNullOrEmpty(Model.Pagination.SearchBy))
                                            {
                                                <li class="page-item">@Html.ActionLink(index.ToString(), "IndexView", "Interaction", new { currentPage = index, recordsPerPage = Model.Pagination.RecordsPerPage, searchString = Model.Pagination.SearchString, searchBy = Model.Pagination.SearchBy }, new { @class = "page-link" })</li>
                                            }
                                            else
                                            {
                                                <li class="page-item">@Html.ActionLink(index.ToString(), "IndexView", "Interaction", new { currentPage = index, recordsPerPage = Model.Pagination.RecordsPerPage }, new { @class = "page-link" })</li>
                                            }
                                        }
                                    }
                                    @if (Model.Pagination.CurrentPage < Model.Pagination.EndPage)
                                    {
                                        if (!String.IsNullOrEmpty(Model.Pagination.SearchString) && !String.IsNullOrEmpty(Model.Pagination.SearchBy))
                                        {
                                            <li class="page-item">@Html.ActionLink("Next", "IndexView", "Interaction", new { currentPage = Model.Pagination.CurrentPage + 1, recordsPerPage = Model.Pagination.RecordsPerPage, searchString = Model.Pagination.SearchString, searchBy = Model.Pagination.SearchBy }, new { @class = "page-link" })</li>
                                        }
                                        else
                                        {
                                            <li class="page-item">@Html.ActionLink("Next", "IndexView", "Interaction", new { currentPage = Model.Pagination.CurrentPage + 1, recordsPerPage = Model.Pagination.RecordsPerPage }, new { @class = "page-link" })</li>
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@if (User.IsInRole(RoleConstants.AdministratorRole))
{
    @Html.Partial("_InteractionDeleteAsyncModalPartialView")
}

@section scripts
{
    @Scripts.Render("~/ClearAlerts")
    @Scripts.Render("~/Shared/RecordsPerPage")
    @Scripts.Render("~/Messages")
    @Scripts.Render("~/Interaction/DeleteInteraction")
    @Scripts.Render("~/Tooltip")
}
