﻿@using ASP_NET_CRM.ViewModels.Interactions;
@using ASP_NET_CRM.Utilities;

@model NewInteractionViewModel
@{
    ViewBag.Title = "NewView";
}

<div id="alerts"></div>

<div class="container mt-3">

    <div class="card mt-3">
        <div class="card-header bg-light justify-content-between row mr-0 ml-0">
            <div class="d-inline" style="font-size: 21px">
                <span class="align-middle"><i class="fas fa-briefcase"></i><p class="ml-2 d-inline">New Interaction</p></span>
            </div>
        </div>
        <div class="cardPadding">
            @if (!ViewData.ModelState.IsValid)
            {
                <div class="alert alert-danger pb-0" role="alert">
                    @Html.ValidationSummary()
                </div>
            }

            @using (Html.BeginForm("Add", "Interaction", FormMethod.Post, new { @class = "mt-2" }))
            {
                <div class="row">
                    <div class="form-group col-5">
                        @Html.LabelFor(m => m.ClientName)
                        <input id="ClientName" type="text" value="@Model.ClientName" class="form-control readonly" />
                    </div>

                    @if (Model.IsShowSearchButton)
                    {
                        <div class="col-2 mb-3 d-flex align-items-end pl-0">
                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#searchClientModal"><i class="fas fa-search"></i> Search Client</button>
                        </div>
                    }
                    <div class="col-1"></div>
                    <div class="form-group col-3">
                        @Html.LabelFor(m => m.Status)
                        <input type="text" class="form-control readonly" style="max-width: 200px" value="@EnumUtilities.ShowEnumDisplayAttribute(Model.Status)" />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-5">
                        @Html.LabelFor(m => m.TypeId)
                        @Html.DropDownListFor(m => m.TypeId, Model.AvailableTypes, "Select Type", new { @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-5">
                        @Html.LabelFor(m => m.ClassId)
                        @Html.DropDownListFor(m => m.ClassId, Model.AvailableClasses, new { @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-2">
                        @Html.LabelFor(c => c.InteractionDate)
                        @Html.TextBoxFor(c => c.InteractionDate, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker", @placeholder = "DD/MM/YYYY" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-12">
                        @Html.LabelFor(m => m.Description)
                        @Html.TextAreaFor(m => m.Description, new { @class = "form-control", @style = "min-height: 12rem" })
                    </div>
                </div>

                <button type="submit" class="btn btn-success">Save</button>

                @Html.HiddenFor(m => m.ClientId)
                @Html.AntiForgeryToken()
            }
        </div>
    </div>
</div>

@if (Model.IsShowSearchButton)
{
    @Html.Partial("_ClientSearchModalView")
}

@section scripts
{
    @Scripts.Render("~/Messages")
    @Scripts.Render("~/Views/Interaction/NewView")
    @Scripts.Render("~/Shared/SearchClientModal")
    @Scripts.Render("~/ReadonlyClass")
    @Scripts.Render("~/TooltipSearchClientModal")
    @Scripts.Render("~/bundles/jqueryui")
}
