﻿@using ASP_NET_CRM.ViewModels.Users

@model UserDetailsViewModel
@{
    ViewBag.Title = "DetailsView";
    Layout = "~/Views/Shared/_AdministratorLayout.cshtml";
}

<div id="alerts">
    @if (TempData["Success"] != null)
    {
        @Html.Partial("_GlobalSuccessMessagePartial")
    }
</div>

<div class="container mt-3" id="container">

    <div class="card mt-3">
        <div class="card-header bg-light justify-content-between row mr-0 ml-0">
            <div class="d-inline iconFontSize">
                <span class="align-middle"><i class="fas fa-user"></i><p class="ml-2 d-inline">User : @Model.FullName</p></span>
            </div>
            <div class="d-inline-block justify-content-end">
                <a class="btn btn-warning" href="@Url.Action("EditView", "User", new { id = Model.Id })">
                    <i class="far fa-edit"></i> Edit
                </a>
                <a class="btn btn-info" href="@Url.Action("ForgotPassword", "Account", new { id = Model.Id })"><i class="fas fa-key"></i> Reset Password</a>
                <button type="button" class="btn btn-danger deleteModal" data-toggle="modal" data-target="#deleteModal"><i class="fas fa-times mr-1"></i>Delete</button>
            </div>
        </div>
        <div class="cardPadding">
            <div class="row justify-content-between">
                <div class="form-group col-8">
                    @Html.LabelFor(m => m.UserName)
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                </div>
                <div class="form-group col-3">
                    @Html.LabelFor(c => c.Created)
                    @Html.TextBoxFor(c => c.Created, new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-9">
                    @Html.LabelFor(m => m.FullName)
                    @Html.TextBoxFor(m => m.FullName, new { @class = "form-control" })
                </div>
                <div class="form-group col-3">
                    @Html.LabelFor(c => c.CreatedBy)
                    @Html.TextBoxFor(c => c.CreatedBy, new { @class = "form-control" })
                </div>
            </div>
            <div class="row justify-content-between">
                <div class="form-group col-6">
                    @Html.LabelFor(m => m.FirstName)
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                </div>
                <div class="form-group col-3">
                    @Html.LabelFor(c => c.LastUpdated)
                    @Html.TextBoxFor(c => c.LastUpdated, new { @class = "form-control" })
                </div>
            </div>
            <div class="row justify-content-between">
                <div class="form-group col-8">
                    @Html.LabelFor(m => m.Surname)
                    @Html.TextBoxFor(m => m.Surname, new { @class = "form-control" })
                </div>
                <div class="form-group col-3">
                    @Html.LabelFor(c => c.LastUpdatedBy)
                    @Html.TextBoxFor(c => c.LastUpdatedBy, new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_UserDeleteModalPartialView")

@section scripts
{
    @Scripts.Render("~/Readonly")
    @Scripts.Render("~/Messages")
}

