﻿@using ASP_NET_CRM.ViewModels.Users

@model UserEditViewModel
@{
    ViewBag.Title = "EditView";
    Layout = "~/Views/Shared/_AdministratorLayout.cshtml";
}

@using (Html.BeginForm("Update", "User", FormMethod.Post, new { @class = "mt-2", id = "updateUserForm" }))
{

    <div class="container mt-3" id="container">

        <div class="card mt-3">
            <div class="card-header bg-light justify-content-between row mr-0 ml-0">
                <div class="d-inline iconFontSize">
                    <span class="align-middle"><i class="fas fa-user"></i><p class="ml-2 d-inline">User : @Model.FullName</p></span>
                </div>
                <div class="d-inline-block justify-content-end">
                    <button type="submit" class="btn btn-success"><i class="far fa-save"></i> Save</button>
                </div>
            </div>
            <div class="cardPadding">

                @if (!ViewData.ModelState.IsValid)
                {
                    <div class="alert alert-danger pb-0" role="alert">
                        @Html.ValidationSummary()
                    </div>
                }

                <div class="row">
                    <div class="form-group col-8">
                        @Html.LabelFor(m => m.UserName)
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control readonly" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-9">
                        @Html.LabelFor(m => m.FullName)
                        @Html.TextBoxFor(m => m.FullName, new { @class = "form-control readonly", @Value = Model.FullName })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-6">
                        @Html.LabelFor(m => m.FirstName)
                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-8">
                        @Html.LabelFor(m => m.Surname)
                        @Html.TextBoxFor(m => m.Surname, new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.FullName)
    @Html.AntiForgeryToken()

}

@section scripts
{
    @Scripts.Render("~/ReadonlyClass")
    @Scripts.Render("~/Views/User/EditView")   
}



