﻿@using ASP_NET_CRM.ViewModels.Users
@using ASP_NET_CRM.DTO.User

@model UserIndexViewModel
@{
    ViewBag.Title = "IndexView";
    Layout = "~/Views/Shared/_AdministratorLayout.cshtml";
}

<div id="alerts">
    @if (TempData["Success"] != null)
    {
        @Html.Partial("_GlobalSuccessMessagePartial")
    }
    @if (TempData["Error"] != null)
    {
        @Html.Partial("_GlobalErrorMessagePartial")
    }
</div>

<div class="container mt-3">
    <div class="card containerMargin">
        <div class="card-header bg-light justify-content-center row mr-0 ml-0">
            <h2>Users</h2>
        </div>
        <div class="cardPadding">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-3 pl-0">
                        <a class="btn btn-success" href="@Url.Action("Register", "Account")"><i class="fas fa-plus"></i> New User</a>
                    </div>
                    <div class="col-6 pr-0 d-flex justify-content-end">
                        @using (Html.BeginForm("IndexView", "User", FormMethod.Get, new { @class = "form-inline" }))
                        {
                            <p class="mr-1">Search by</p>
                            @Html.DropDownList("searchBy", new SelectList(Model.SearchPropertyList), new { @class = "form-control mr-2" })
                            @Html.TextBox("searchString", null, new { @class = "form-control", placeholder = "Search" });
                            <button type="submit" class="btn btn-success ml-2"><i class="fas fa-search"></i> Search</button>
                        }
                    </div>
                </div>
            </div>

            <div class="mt-3">
                <table class="table table-bordered" id="userTable">
                    <thead>
                        <tr>
                            <th scope="col">Email</th>
                            <th scope="col">Full Name</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    @if (Model.Users.Count() > 0)
                    {
                        <tbody id="tableBody">
                            @foreach (UserDto user in Model.Users)
                            {
                                <tr id="user_@user.Id">
                                    <td class="align-middle">@user.UserName</td>
                                    <td class="align-middle">@Html.TextBoxFor(m => user.FullName, new { Id = "UserFullName_" + user.UserName, @class = "customInput customInputTooltip" })</td>
                                    <td class="text-center">
                                        <a class="btn btn-success" href="@Url.Action("DetailsView", "User", new { id = user.Id })"><i class="fas fa-search"></i> Details</a>
                                        <a class="btn btn-warning" href="@Url.Action("EditView", "User", new { id = user.Id })"><i class="far fa-edit"></i> Edit</a>
                                        <a class="btn btn-info" href="@Url.Action("ForgotPassword", "Account", new { id = user.Id })"><i class="fas fa-key"></i> Reset Password</a>
                                        <button type="button" class="btn btn-danger deleteModal" data-id="@user.Id" data-toggle="modal" data-target="#deleteModal"><i class="fas fa-times mr-1"></i>Delete</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    }
                </table>
                <div id="tableMessages" class="mb-3">
                    @if (Model.Users.Count() == 0)
                    {
                        @Html.Partial("_GlobalNoDataToDisplayPartial");
                    }
                </div>
                @if (Model.Users.Count() > 0)
                {
                    <div class="container">
                        <div class="row justify-content-between">
                            <div class="col-3 pl-0">
                                @using (Html.BeginForm("IndexView", "User", null, FormMethod.Get, new { @class = "form-inline" }))
                                {
                                    if (!String.IsNullOrEmpty(Model.Pagination.SearchString) && !String.IsNullOrEmpty(Model.Pagination.SearchBy))
                                    {
                                        @Html.Hidden("searchString", Model.Pagination.SearchString);
                                        @Html.Hidden("searchBy", Model.Pagination.SearchBy);
                                    }
                                    @Html.DropDownList("recordsPerPage", new SelectList(Model.RecordsPerPageList), new { @class = "form-control", id = "recordsPerPageList" })
                                    <p class="ml-1">records per page</p>
                                }
                            </div>
                            <div class="col-6 pr-0 d-flex justify-content-end">
                                <ul class="pagination justify-content-end">
                                    @if (Model.Pagination.CurrentPage > 1)
                                    {
                                        <li class="page-item">
                                            @if (!String.IsNullOrEmpty(Model.Pagination.SearchString) && !String.IsNullOrEmpty(Model.Pagination.SearchBy))
                                            {
                                                @Html.ActionLink("Previous", "IndexView", "User", new { currentPage = Model.Pagination.CurrentPage - 1, recordsPerPage = Model.Pagination.RecordsPerPage, searchString = Model.Pagination.SearchString, searchBy = Model.Pagination.SearchBy }, new { @class = "page-link" })
                                            }
                                            else
                                            {
                                                @Html.ActionLink("Previous", "IndexView", "User", new { currentPage = Model.Pagination.CurrentPage - 1, recordsPerPage = Model.Pagination.RecordsPerPage }, new { @class = "page-link" })
                                            }
                                        </li>
                                    }
                                    @for (var index = Model.Pagination.StartPage; index <= Model.Pagination.EndPage; index++)
                                    {
                                        if (Model.Pagination.CurrentPage == index)
                                        {
                                            if (!String.IsNullOrEmpty(Model.Pagination.SearchString) && !String.IsNullOrEmpty(Model.Pagination.SearchBy))
                                            {
                                                <li class="page-item active">@Html.ActionLink(index.ToString(), "IndexView", "User", new { currentPage = index, recordsPerPage = Model.Pagination.RecordsPerPage, searchString = Model.Pagination.SearchString, searchBy = Model.Pagination.SearchBy }, new { @class = "page-link" })</li>
                                            }
                                            else
                                            {
                                                <li class="page-item active">@Html.ActionLink(index.ToString(), "IndexView", "User", new { currentPage = index, recordsPerPage = Model.Pagination.RecordsPerPage }, new { @class = "page-link" })</li>
                                            }

                                        }
                                        else
                                        {
                                            if (!String.IsNullOrEmpty(Model.Pagination.SearchString) && !String.IsNullOrEmpty(Model.Pagination.SearchBy))
                                            {
                                                <li class="page-item">@Html.ActionLink(index.ToString(), "IndexView", "User", new { currentPage = index, recordsPerPage = Model.Pagination.RecordsPerPage, searchString = Model.Pagination.SearchString, searchBy = Model.Pagination.SearchBy }, new { @class = "page-link" })</li>
                                            }
                                            else
                                            {
                                                <li class="page-item">@Html.ActionLink(index.ToString(), "IndexView", "User", new { currentPage = index, recordsPerPage = Model.Pagination.RecordsPerPage }, new { @class = "page-link" })</li>
                                            }
                                        }
                                    }
                                    @if (Model.Pagination.CurrentPage < Model.Pagination.EndPage)
                                    {
                                        if (!String.IsNullOrEmpty(Model.Pagination.SearchString) && !String.IsNullOrEmpty(Model.Pagination.SearchBy))
                                        {
                                            <li class="page-item">@Html.ActionLink("Next", "IndexView", "User", new { currentPage = Model.Pagination.CurrentPage + 1, recordsPerPage = Model.Pagination.RecordsPerPage, searchString = Model.Pagination.SearchString, searchBy = Model.Pagination.SearchBy }, new { @class = "page-link" })</li>
                                        }
                                        else
                                        {
                                            <li class="page-item">@Html.ActionLink("Next", "IndexView", "User", new { currentPage = Model.Pagination.CurrentPage + 1, recordsPerPage = Model.Pagination.RecordsPerPage }, new { @class = "page-link" })</li>
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@Html.Partial("_UserDeleteAsyncModalPartialView")

@section scripts
{
    @Scripts.Render("~/ClearAlerts")
    @Scripts.Render("~/Shared/RecordsPerPage")
    @Scripts.Render("~/Messages")
    @Scripts.Render("~/User/DeleteUser")
    @Scripts.Render("~/Tooltip")
}

