﻿@using ASP_NET_CRM.ViewModels.Notes;

@model NewNoteViewModel
@{
    ViewBag.Title = "NewView";
}

<div class="container mt-3" id="container">
    <div class="card mt-3">
        <div class="card-header bg-light justify-content-between row mr-0 ml-0">
            <div class="d-inline iconFontSize">
                <span class="align-middle"><i class="fas fa-sticky-note"></i><p class="ml-2 d-inline">New Note</p></span>
            </div>
        </div>
        <div class="pl-4 pt-3 pb-4 pr-4">

            @if (!ViewData.ModelState.IsValid)
            {
                <div class="alert alert-danger pb-0" role="alert">
                    @Html.ValidationSummary()
                </div>
            }

            @using (Html.BeginForm("Add", "Note", FormMethod.Post, new { @class = "mt-2" }))
            {

                <div class="row">
                    <div class="form-group col-5 pr-0">
                        @Html.LabelFor(m => m.ClientName)
                        <input id="ClientName" type="text" value="@Model.ClientName" class="form-control readonly" />
                    </div>

                    @if (Model.IsShowSearchButton)
                    {
                        <div class="col-2 mb-3 d-flex align-items-end">
                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#searchClientModal"><i class="fas fa-search"></i> Search Client</button>
                        </div>
                    }

                </div>
                <div class="row">
                    <div class="form-group col-8">
                        @Html.LabelFor(m => m.Title)
                        @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-12">
                        @Html.LabelFor(m => m.Description)
                        @Html.TextAreaFor(m => m.Description, new { @class = "form-control", @style = "min-height: 12rem" })
                    </div>
                </div>

                <button type="submit" class="btn btn-success"><i class="far fa-save"></i> Save</button>

                @Html.HiddenFor(m => m.ClientId)
                @Html.AntiForgeryToken()
            }

        </div>
    </div>
</div>

@if (Model.IsShowSearchButton)
{
    @Html.Partial("_ClientSearchModalView")
}

@section scripts
{
    @Scripts.Render("~/ReadonlyClass")
    @Scripts.Render("~/Shared/SearchClientModal")
    @Scripts.Render("~/TooltipSearchClientModal")
}